<div>
  build-dynamic-price works!
  <button class="dm-btn-primary btn-create-disc">Create New Discount</button>
  <button class="dm-btn-primary btn-create-cust">Create Group of Customers</button>
  <div class="btns-wrap">
    <button class="dm-btn-primary btn-next">Back</button>
    <button class="dm-btn-secondary btn-back">Next</button>
  </div>
    <button class="dm-btn-action">Activate</button>
    <button class="dm-btn-action dm-btn-activated">Activated</button>
</div>
