.btn-step {
  height: 60px;
  line-height: 60px;
}

.btn-back {
  @extend .btn-step;
  width: 110px;
  border-radius: 3px;
  font-size: 24px;
}

.btn-next {
  @extend .btn-step;
  width: 120px;
  border-radius: 5px;
  font-size: 28px;
  letter-spacing: 0.5px;
}

.btn-create {
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  font-size: 18px;
}

.btn-create-disc {
  @extend .btn-create;
  width: 210px;
}

.btn-create-cust {
  @extend .btn-create;
  width: 250px;
}

.dm-btn-action {
  width: 70px;
  height: 26px;
  line-height: 26px;
  border-radius: 2px;
}