#welcome-modal-page {
  height: calc(100% - 50px);
  min-height: 745px;
  position: relative;
  background-color: #f5f8fb;
  text-align: center;
}

.welcome-page-title {
  font-size: 42px;
  font-weight: 300;
  color: #172b4d;
  margin: 43px auto 9px;
}

.welcome-page-desc {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.4;
  color: #637381;
  opacity: 0.8;
  max-width: 50%;
  margin: auto;
}

.left-side {
  width: 75%;
  height: 100%;
  float: left;
  position: relative;
}

.right-side {
  width: 25%;
  height: 100%;
  float: left;
  background-color: #fff;
  position: relative;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
  background-color: #fff;
}

.live-view-wrap {
  width: 100%;
  max-width: 900px;
  position: absolute;
  bottom: 4px;
  margin: auto;
  left: 0;
  right: 0;
}

.mac-img {
  width: 100%;
  max-width: 900px;
}

.right-side-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: left;
  width: 100%;
  padding: 31px 30px;
  padding-bottom: 13px;
}

.right-side-title {
  height: 12px;
  margin: 0;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: left;
  color: #637381;
  cursor: pointer;
  &.underline {
    padding-bottom: 2px;
    border-bottom: 1px dotted;
    display: inline-block;
    float: left;
    margin: 30px 0 2px;
  }
}

.reset {
  height: 15px;
  margin: 0;
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  color: #8993a4;
  padding-bottom: 2px;
  border-bottom: 1px dotted;
  cursor: pointer;
}

.form-group {
  text-align: left;
  margin-top: 11px;
  margin-bottom: 15px;
}

.text-settings-cont .form-group {
  margin-bottom: 12px;
}

label,
.form-control-label {
  padding: 0;
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  color: #8993a4;
  margin-bottom: 3px;
}

.visible-on-label {
  margin-top: 15px;
  margin-bottom: 0;
}

.form-control {
  height: 38px;
  border-radius: 3px;
  border: solid 1px #d9e3f6;
  box-shadow: none !important;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.36;
  color: #172b4d;
  &[type='color'] {
    padding: 4px 12px;
  }
  &::-webkit-input-placeholder {
    font-family: "VAGRounded", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.36;
    color: #172b4d;
    opacity: 0.3;
  }
  &::-moz-placeholder {
    font-family: "VAGRounded", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.36;
    color: #172b4d;
    opacity: 0.3;
  }
  &:-ms-input-placeholder {
    font-family: "VAGRounded", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.36;
    color: #172b4d;
    opacity: 0.3;
  }
  &:-moz-placeholder {
    font-family: "VAGRounded", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.36;
    color: #172b4d;
    opacity: 0.3;
  }
}

textarea {
  resize: none;
  height: auto !important;
}
.form-check-inline {
  display: inline-block;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.form-check-label {
  font-size: 14px;
}

.form-check-input {
  width: 18px;
  height: 14px;
  margin-top: 0;
  margin-right: 3px;
}

.visible-on-wrap {
  text-align: left;
}

.btns-wrap {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 11px;
  width: calc(100% - 60px);
  margin: auto;
  right: 0;
  left: 0;
}

.btn {
  height: 40px;
  padding: 0;
  cursor: pointer;
}

.btn-back {
  margin-right: 20px;
}

#delightme-welcome-subscribe-email::-webkit-input-placeholder {
  font-family: "SFUIDisplay", "Helvetica Neue", sans-serif;
  font-size: 11px;
  font-weight: 300;
  color: #172b4d;
  opacity: 0.2;
}
#delightme-welcome-subscribe-email::-moz-placeholder {
  font-family: "SFUIDisplay", "Helvetica Neue", sans-serif;
  font-size: 11px;
  font-weight: 300;
  color: #172b4d;
  opacity: 0.2;
}
#delightme-welcome-subscribe-email:-ms-input-placeholder {
  font-family: "SFUIDisplay", "Helvetica Neue", sans-serif;
  font-size: 11px;
  font-weight: 300;
  color: #172b4d;
  opacity: 0.2;
}
#delightme-welcome-subscribe-email:-moz-placeholder {
  font-family: "SFUIDisplay", "Helvetica Neue", sans-serif;
  font-size: 11px;
  font-weight: 300;
  color: #172b4d;
  opacity: 0.2;
}
::-webkit-color-swatch-wrapper {
  width: 24px;
  padding: 0;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #d9e3f6;
}
::-moz-placeholder {
  width: 24px;
  padding: 0;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #d9e3f6;
}
:-ms-input-placeholder {
  width: 24px;
  padding: 0;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #d9e3f6;
}
:-moz-placeholder {
  width: 24px;
  padding: 0;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #d9e3f6;
}
.welcome{
    font-family: VAGRoundedBold;
    font-size : 14px;
    font-weight : bold;
    letter-spacing : 0.5px;
    text-align : center;
    color : #637381;
  }
 .reminder{
    font-family: VAGRoundedBold;
    font-size : 14px;
    font-weight : bold;
    letter-spacing : 0.5px;
    text-align : center;
    color : #637381;
  }
.welcome .text-style-1{
  letter-spacing : normal
}
.exit{
  font-family: VAGRoundedBold;
  font-size : 14px;
  font-weight : bold;
  letter-spacing : 0.5px;
  text-align : center;
  color : #637381;
  }
 .active {
    border-bottom: 4px solid #2196f3;
    color:#172b4d;
}
.pad-bottom.navbar-nav>li>a{
  padding-bottom:6px;
}
.my-nav{
    width: 100%;
}
.navbar-nav>li {
    text-indent: 2px;
    width: 33.3%;
}
.navbar-nav {
    width: 100%;
    height:47px;
    border-bottom: 1px solid;
    color: #d9e3f6;
}
.navbar-nav>li>a {
    padding-top: 17px;
}
.myform{
   padding: 15px 30px;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #172b4d;
}