<div id="welcome-modal-page" class="clearfix">

  <div class="left-side">

    <h1 class="welcome-page-title">Delight Me Modals</h1>
    <p class="welcome-page-desc">Interactions to capture shopper email and thus enable Delight Me engine.</p>
    <div class="live-view-wrap">
      <img src="./assets/img/macbook-layout-catalogue-view-cropped-obscure.png" alt="Macbook" class="mac-img">
      <div  *ngIf="welcomeShow" id="delightme-welcome-content-container" style="display: block; position: absolute; z-index: 99998; background-color: transparent; width: 300px; height: 244px; left: calc(50% - 150px); top: calc(50% - 98px);"> 
        <div id="delightme-welcome-content" style="display: block; position: absolute; left:0; background-color: #ffffff; height: 100%; width: 100%; box-shadow: 0 4px 10px 0 rgba(23, 43, 77, 0.2);">
          <svg class="delightme-welcome-close" style="position: absolute; right: 10px; top: 10px; width: 7px; height: 7px; cursor: pointer; enable-background: new 35 -38 100 100;" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 47.971 47.971" xml:space="preserve">
            <g>
              <path fill="#e3e9f0" d="M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88 c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242 C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879 s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z">
              </path>
           </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
          </svg>
          <div id="delightme-welcome-container" style="display: block;"> 
            <div id="welcome-step-one" style="display: block;">
              <div>
                <div style="text-align: center; margin: 20px 0 0;"> 
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 40 50"> 
                    <g fill="#333841" fill-rule="evenodd"> 
                      <path d="M28.09 10.846A5.423 5.423 0 1 0 28.09 0a5.423 5.423 0 0 0 0 10.846M32.067 29.49c0 2.497-.523 4.575-1.567 6.233-1.046 1.659-2.504 2.88-4.376 3.663-1.872.784-4.007 1.176-6.406 1.176-2.326 0-4.384-.383-6.174-1.148-1.79-.766-3.209-1.932-4.253-3.5-1.045-1.567-1.568-3.526-1.568-5.877v-5.66h24.344v5.114zm6.522-12.261c-.8-.82-1.838-1.229-3.11-1.229H4.201c-1 0-1.814.232-2.442.696-.627.464-1.078 1.027-1.351 1.692A5.296 5.296 0 0 0 0 20.421v9.716c0 2.802.454 5.394 1.365 7.778.909 2.383 2.215 4.421 3.916 6.113 1.7 1.692 3.743 2.989 6.126 3.89 2.384.9 5.03 1.35 7.942 1.35 3.111 0 5.927-.432 8.447-1.297 2.52-.864 4.667-2.137 6.441-3.82 1.774-1.683 3.142-3.748 4.107-6.195.965-2.447 1.446-5.236 1.446-8.365v-9.28c0-1.237-.4-2.264-1.2-3.082zM7.839 4.7l.922.594-.84.497a2.553 2.553 0 0 0 2.598 4.396l4.404-2.602a2.554 2.554 0 0 0 .083-4.346L10.6.406A2.553 2.553 0 1 0 7.84 4.701">
                      </path> 
                    </g> 
                  </svg>
                </div> 
                <h1 style="max-width: 90%; margin: 2px auto 10px; text-align: center; color: #333841; font-size: 17px; font-family: 'VAGRounded';font-weight: bold;">{{welcomeModalVale.title}}
                </h1> 
                <div style="position: relative; padding: 0; text-align: center;"> 
                  <p style="max-width: 200px; line-height: 1.5; margin: 10px auto; text-align: center; color: #8993a4; font-size: 10px; font-family: 'VAGRounded'; font-weight: 100;">
                   {{ welcomeModalVale.copyText }}
                  </p> 
                  <form id="delightme-welcome-form" style="width: 90%; max-width: 390px; position: relative; margin: auto;"> 
                    <div> 
                      <label style="display: block; width: 170px; margin: 15px auto 2px; text-align: left; color: #8993a4; font-size: 9px; font-family:'VAGRounded'; font-weight: 500;">Your lovely email
                      </label> 
                      <input type="text" id="delightme-welcome-subscribe-email" placeholder="yourname@mail.com" style="box-sizing: border-box; border-radius: 3px; background-color: rgb(255, 255, 255); border: 1px solid rgb(216, 227, 244); padding: 0px 8px; margin-bottom: 11px; height: 26px; color: rgb(51, 56, 65); font-family: 'VAGRounded'; font-size: 11.5px; font-weight: 300; outline: none; width: 170px;"> 
                      <div style="clear: both">
                      </div> 
                      <button class="delightme-welcome-subscribe-submit" id="welcome-submit" type="submit" style="border-radius: 3px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; -webkit-transition: background-color 0.2s; -moz-transition: background-color 0.2s; -ms-transition: background-color 0.2s; -o-transition: background-color 0.2s; transition: background-color 0.2s; width: 160px; height: 26px; border: none; background-color: #333333; font-family: 'VAGRounded'; font-size: 13.5px; font-weight: bold; line-height: 30px; color: #fff; outline: none; padding: 0; cursor: pointer;">{{welcomeModalVale.button}}
                      </button> 
                    </div> 
                    <p id="delightme-no-email-error-label" style="position: absolute; margin: 0 auto; left: 0; right: 0; bottom: -20px; opacity: 0; color: #ee2c29; font-size: 12px; font-family: 'Helvetica Neue Light', sans-serif;">Email is required
                    </p> 
                    <p id="delightme-wrong-email-error-label" style="position: absolute; margin: 0 auto; left: 0; right: 0; bottom: -20px; opacity: 0; color: #ee2c29; font-family: 'Helvetica Neue Light', sans-serif; font-size: 12px;">Wrong email format
                    </p> 
                  </form> 
                </div>
              </div> 
            </div>
          </div> 
        </div>
      </div>

<!-- remind modal code -->
    
    <div  *ngIf="remindshow" id="delightme-welcome-content-container" style="display: block; position: absolute; z-index: 99998; background-color: transparent; width: 300px; height: 200px; left: calc(50% - 150px); margin-top: 35px; top: calc(50% - 102px);"> 
        <div id="delightme-welcome-content" style="display: block; position: absolute; left:0; background-color: #ffffff; height: 100%; width: 100%; box-shadow: 0 4px 10px 0 rgba(23, 43, 77, 0.2);">
          <svg class="delightme-welcome-close" style="position: absolute; right: 10px; top: 10px; width: 7px; height: 7px; cursor: pointer; enable-background: new 35 -38 100 100;" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 47.971 47.971" xml:space="preserve">
            <g> 
              <path fill="#e3e9f0" d="M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88 c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242 C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879 s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z">
              </path>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
          </svg>
          <div id="delightme-welcome-container" style="display: block;"> 
            <div id="welcome-step-one" style="display: block;">
              <div>
                <div style="text-align: center; margin: 20px 0 0;"> 
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 40 50"> 
                    <g fill="#333841" fill-rule="evenodd"> 
                      <path d="M28.09 10.846A5.423 5.423 0 1 0 28.09 0a5.423 5.423 0 0 0 0 10.846M32.067 29.49c0 2.497-.523 4.575-1.567 6.233-1.046 1.659-2.504 2.88-4.376 3.663-1.872.784-4.007 1.176-6.406 1.176-2.326 0-4.384-.383-6.174-1.148-1.79-.766-3.209-1.932-4.253-3.5-1.045-1.567-1.568-3.526-1.568-5.877v-5.66h24.344v5.114zm6.522-12.261c-.8-.82-1.838-1.229-3.11-1.229H4.201c-1 0-1.814.232-2.442.696-.627.464-1.078 1.027-1.351 1.692A5.296 5.296 0 0 0 0 20.421v9.716c0 2.802.454 5.394 1.365 7.778.909 2.383 2.215 4.421 3.916 6.113 1.7 1.692 3.743 2.989 6.126 3.89 2.384.9 5.03 1.35 7.942 1.35 3.111 0 5.927-.432 8.447-1.297 2.52-.864 4.667-2.137 6.441-3.82 1.774-1.683 3.142-3.748 4.107-6.195.965-2.447 1.446-5.236 1.446-8.365v-9.28c0-1.237-.4-2.264-1.2-3.082zM7.839 4.7l.922.594-.84.497a2.553 2.553 0 0 0 2.598 4.396l4.404-2.602a2.554 2.554 0 0 0 .083-4.346L10.6.406A2.553 2.553 0 1 0 7.84 4.701">
                      </path> 
                    </g> 
                  </svg>
                </div> 
                <h1 style="max-width: 90%; margin: 2px auto 10px; text-align: center; color: #333841; font-size: 17px; font-family: 'VAGRounded';font-weight: bold;">{{remindModalValue.title}}
                </h1> 
                <div style="position: relative; padding: 0; text-align: center;"> 
                  <p style="max-width: 200px; line-height: 1.5; margin: 10px auto; text-align: center; color: #8993a4; font-size: 10px; font-family: 'VAGRounded'; font-weight: 100;">
                   {{ remindModalValue.copyText }}
                  </p> 
                  <form id="delightme-welcome-form" style="width: 90%; max-width: 390px; position: relative; margin: auto;"> 
                    <div> 
                      <div style="clear: both">
                      </div> 
                      <button class="delightme-welcome-subscribe-submit" id="welcome-submit" type="submit" style="border-radius: 3px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; -webkit-transition: background-color 0.2s; -moz-transition: background-color 0.2s; -ms-transition: background-color 0.2s; -o-transition: background-color 0.2s; transition: background-color 0.2s; width: 160px; height: 26px; border: none; background-color: #333333; font-family: 'VAGRounded'; font-size: 13.5px; font-weight: bold; line-height: 30px; color: #fff; outline: none; padding: 0; cursor: pointer;">{{remindModalValue.button}}
                      </button> 
                    </div>  
                  </form> 
                </div>
              </div> 
            </div>
          </div> 
        </div>
      </div>






      <!-- for exit model  -->
      <div  *ngIf="exitshow" id="delightme-welcome-content-container" style="display: block; position: absolute; z-index: 99998; background-color: transparent; width: 300px; height: 200px; left: calc(50% - 150px); top: calc(50% - 102px);"> 
        <div id="delightme-welcome-content" style="display: block; position: absolute; left:0; background-color: #ffffff; height: 100%; width: 100%; box-shadow: 0 4px 10px 0 rgba(23, 43, 77, 0.2);">
          <svg class="delightme-welcome-close" style="position: absolute; right: 10px; top: 10px; width: 7px; height: 7px; cursor: pointer; enable-background: new 35 -38 100 100;" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 47.971 47.971" xml:space="preserve">
            <g> 
              <path fill="#e3e9f0" d="M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88 c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242 C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879 s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z">
              </path>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
          </svg>
          <div id="delightme-welcome-container" style="display: block;"> 
            <div id="welcome-step-one" style="display: block;">
              <div>
                <div style="text-align: center; margin: 20px 0 0;"> 
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 40 50"> 
                    <g fill="#333841" fill-rule="evenodd"> 
                      <path d="M28.09 10.846A5.423 5.423 0 1 0 28.09 0a5.423 5.423 0 0 0 0 10.846M32.067 29.49c0 2.497-.523 4.575-1.567 6.233-1.046 1.659-2.504 2.88-4.376 3.663-1.872.784-4.007 1.176-6.406 1.176-2.326 0-4.384-.383-6.174-1.148-1.79-.766-3.209-1.932-4.253-3.5-1.045-1.567-1.568-3.526-1.568-5.877v-5.66h24.344v5.114zm6.522-12.261c-.8-.82-1.838-1.229-3.11-1.229H4.201c-1 0-1.814.232-2.442.696-.627.464-1.078 1.027-1.351 1.692A5.296 5.296 0 0 0 0 20.421v9.716c0 2.802.454 5.394 1.365 7.778.909 2.383 2.215 4.421 3.916 6.113 1.7 1.692 3.743 2.989 6.126 3.89 2.384.9 5.03 1.35 7.942 1.35 3.111 0 5.927-.432 8.447-1.297 2.52-.864 4.667-2.137 6.441-3.82 1.774-1.683 3.142-3.748 4.107-6.195.965-2.447 1.446-5.236 1.446-8.365v-9.28c0-1.237-.4-2.264-1.2-3.082zM7.839 4.7l.922.594-.84.497a2.553 2.553 0 0 0 2.598 4.396l4.404-2.602a2.554 2.554 0 0 0 .083-4.346L10.6.406A2.553 2.553 0 1 0 7.84 4.701">
                      </path> 
                    </g> 
                  </svg>
                </div> 
                <h1 style="max-width: 90%; margin: 2px auto 10px; text-align: center; color: #333841; font-size: 17px; font-family: 'VAGRounded';font-weight: bold;">{{exitModalValue.title}}
                </h1> 
                <div style="position: relative; padding: 0; text-align: center;"> 
                  <p style="max-width: 200px; line-height: 1.5; margin: 10px auto; text-align: center; color: #8993a4; font-size: 10px; font-family: 'VAGRounded'; font-weight: 100;">
                   {{ exitModalValue.copyText }}
                  </p> 
                  <form id="delightme-welcome-form" style="width: 90%; max-width: 390px; position: relative; margin: auto;"> 
                    <div> 
                      <div style="clear: both">
                      </div> 
                      <button class="delightme-welcome-subscribe-submit" id="welcome-submit" type="submit" style="border-radius: 3px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; -webkit-transition: background-color 0.2s; -moz-transition: background-color 0.2s; -ms-transition: background-color 0.2s; -o-transition: background-color 0.2s; transition: background-color 0.2s; width: 160px; height: 26px; border: none; background-color: #333333; font-family: 'VAGRounded'; font-size: 13.5px; font-weight: bold; line-height: 30px; color: #fff; outline: none; padding: 0; cursor: pointer;">{{exitModalValue.button}}
                      </button> 
                    </div>  
                  </form> 
                </div>
              </div> 
            </div>
          </div> 
        </div>
      </div>
    </div>

  </div>

  <div class="right-side">
     <nav class="my-nav">
  <div class=""> 
    <ul class="nav navbar-nav pad-bottom">
     <li (click)="welcome(true)"><a class="welcome active" id="welcomeId">Welcome</a></li>
      <li (click)="reminder(true)"><a class="reminder" id="reminderId">Remind</a></li>
       <li (click)="exit(true)"><a class="exit" id="exitId">Exit</a></li>
    </ul>
  </div>
</nav> 
    <div class="right-side-top">
      <h3 class="right-side-title">DESIGN SETTINGS</h3>
      <p class="reset" (click)="resetDefault()">Reset to Default</p>
    </div>

    <form class="myform" [formGroup]="welcomeModal" *ngIf="welcomeShow">
      <div class="form-group">
        <label class="form-control-label" for="formGroupExampleInput">Background Color</label>
        <input class="form-control color-picker-input" [(colorPicker)]="color" [attr.value]="color" cpPosition="bottom" (ngModelChange)="onChange($event,1,'welcomeModal')" formControlName="backgroundColor">
        <div *ngIf="welcomeModal.get('backgroundColor').hasError('pattern')"
                 class="alert alert-danger"> Enter correct HEX code.
              </div>
      </div>
      <div class="form-group">
        <label class="form-control-label" for="formGroupExampleInput2">Active Color</label>
        <input class="form-control color-picker-input" [(colorPicker)]="color1" [attr.value]="color1" cpPosition="bottom" (ngModelChange)="onChange($event,2,'welcomeModal')" id="formGroupExampleInput2" formControlName="activeColor">
         <div *ngIf="welcomeModal.get('activeColor').hasError('pattern')"
                 class="alert alert-danger"> Enter correct HEX code.
              </div>
      </div>
      <p class="form-control-label visible-on-label">Visible On</p>
      <div class="visible-on-wrap">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" formControlName="visibleOnDesktop">
            Desktop
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" formControlName="visibleOnMobile">
            Mobile
          </label>
        </div>
      </div>
      <div class="clearfix">
        <h3 class="right-side-title underline" (click)="welcometextsetting()">TEXT SETTINGS</h3>
      </div>
      <div class="form-group"  [hidden]="!welcometext">
        <label class="form-control-label" for="formGroupExampleInput">Title</label>
        <input type="text" class="form-control" id="formGroupExampleInput" (ngModelChange)="onChange($event,3,'welcomeModal')" formControlName="title">
      </div>
         <div *ngIf="welcomeModal.get('title').hasError('required') && welcomeModal.get('title').touched"
             class="alert alert-danger"> Title is required.
          </div>
      <div class="form-group" [hidden]="!welcometext">
        <label class="form-control-label" for="formGroupExampleInput2">Button</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" (ngModelChange)="onChange($event,4,'welcomeModal')" formControlName="button">
      </div>
          <div *ngIf="welcomeModal.get('button').hasError('required') && welcomeModal.get('button').touched"
             class="alert alert-danger"> Button Text is required.
          </div>
          <div *ngIf="!welcomeModal.get('button').valid && !welcomeModal.get('button').hasError('required')"
             class="alert alert-danger"> Button Text should me less than 30.
          </div>
      <div class="form-group" [hidden]="!welcometext">
        <label for="exampleFormControlTextarea1">Copy text</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" (ngModelChange)="onChange($event,5,'welcomeModal')" rows="4" formControlName="copytext"></textarea>
      </div>
          <div *ngIf="welcomeModal.get('copytext').hasError('required') && welcomeModal.get('copytext').touched"
             class="alert alert-danger"> Copy Text is required.
          </div>
          <div class="btns-wrap">
            <div class="btn btn-back" (click)="back(1)">
                <svg width="120px" height="40px" viewBox="0 0 120 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Onboarding-—-UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="04-onboarding-customize-sidebar-1-expand" transform="translate(-990.000000, -745.000000)">
                      <g id="Editor" transform="translate(960.000000, 50.000000)">
                        <g id="BTTNS" transform="translate(0.000000, 680.000000)">
                          <g id="btns" transform="translate(29.000000, 15.000000)">   
                            <text fill="#172b4d" font-family="VAGRounded" font-size="18">
                              <tspan x="50" y="25">Back</tspan>
                            </text>
                            <g id="btn-copy">
                              <g id="Rectangle">
                                <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                                <path stroke="#D9E3F6" stroke-width="1" d="M18.6980044,0.5 C17.0021224,0.5 15.4010722,1.28234658 14.3589553,2.62025846 L2.01825159,18.4637538 C1.31464499,19.3670725 1.31464499,20.6329275 2.01825159,21.5362462 L14.3589553,37.3797415 C15.4010722,38.7176534 17.0021224,39.5 18.6980044,39.5 L118,39.5 C119.380712,39.5 120.5,38.3807119 120.5,37 L120.5,3 C120.5,1.61928813 119.380712,0.5 118,0.5 L18.6980044,0.5 Z"></path>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
            </div>
            <div class="btn btn-next" [ngClass]="{disabled: welcomeModal._status=='INVALID'}" (click)="onSubmitForm(1,welcomeModal._status=='INVALID')">
                <svg width="120px" height="40px" viewBox="0 0 120 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Onboarding-—-UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="04-onboarding-customize-sidebar-1-expand" transform="translate(-1130.000000, -745.000000)" fill="#3FD17F">
                      <g id="Editor" transform="translate(960.000000, 50.000000)">
                        <g id="BTTNS" transform="translate(0.000000, 680.000000)">
                          <g id="btns" transform="translate(29.000000, 15.000000)"> 
                            <g id="btn" transform="translate(141.000000, 0.000000)">
                              <path d="M17.7074578,6.96219663e-15 L117.009453,-7.10544174e-15 L117.009453,-7.54951657e-15 C118.666308,-1.52117867e-14 120.009453,1.34314575 120.009453,3 L120.009453,37 L120.009453,37 C120.009453,38.6568542 118.666308,40 117.009453,40 L17.7074578,40 L17.7074578,40 C15.8574047,40 14.1108045,39.146531 12.9739497,37.6869908 L0.633245943,21.8434954 L0.633245943,21.8434954 C-0.211081981,20.759513 -0.211081981,19.240487 0.633245943,18.1565046 L12.9739497,2.31300923 L12.9739497,2.31300923 C14.1108045,0.853469 15.8574047,6.42391858e-15 17.7074578,4.4408921e-15 Z" id="Rectangle" transform="translate(60.004727, 20.000000) rotate(-180.000000) translate(-60.004727, -20.000000) "></path>
                            </g>
                            <text fill="#FFFFFF" font-family="VAGRounded" font-size="18">
                              <tspan x="179" y="26">Next</tspan>
                            </text>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
              </svg>
            </div>
          </div>
    </form>










<!-- remind modal code -->

    <form class="myform" [formGroup]="remindModal" *ngIf="remindshow">
      <div class="form-group">
        <label class="form-control-label" for="formGroupExampleInput">Background Color</label>
        <input class="form-control color-picker-input" [(colorPicker)]="color" [attr.value]="color" cpPosition="bottom" (ngModelChange)="onChange($event,1,'remindModal')" formControlName="backgroundColor">
        <div *ngIf="remindModal.get('backgroundColor').hasError('pattern')"
                 class="alert alert-danger"> Enter correct HEX code.
              </div>
      </div>
      <div class="form-group">
        <label class="form-control-label" for="formGroupExampleInput2">Active Color</label>
        <input class="form-control color-picker-input" [(colorPicker)]="color1" [attr.value]="color1" cpPosition="bottom" (ngModelChange)="onChange($event,2,'remindModal')" id="formGroupExampleInput2" formControlName="activeColor">
        <div *ngIf="remindModal.get('activeColor').hasError('pattern')"
                 class="alert alert-danger"> Enter correct HEX code.
              </div>
      </div>
      <p class="form-control-label visible-on-label">Visible On</p>
      <div class="visible-on-wrap">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" formControlName="visibleOnDesktop">
            Desktop
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" formControlName="visibleOnMobile">
            Mobile
          </label>
        </div>
      </div>
      <div class="clearfix">
        <h3 class="right-side-title underline" (click)="remindtextsetting()">TEXT SETTINGS</h3>
      </div>
      <div class="form-group" [hidden]="!remindtext">
        <label class="form-control-label" for="formGroupExampleInput">Title</label>
        <input type="text" class="form-control" id="formGroupExampleInput" (ngModelChange)="onChange($event,3,'remindModal')" formControlName="title">
      </div>
         <div *ngIf="remindModal.get('title').hasError('required') && remindModal.get('title').touched"
             class="alert alert-danger"> Title is required.
          </div>
      <div class="form-group" [hidden]="!remindtext">
        <label class="form-control-label" for="formGroupExampleInput2">Button</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" (ngModelChange)="onChange($event,4,'remindModal')" formControlName="button">
      </div>
          <div *ngIf="remindModal.get('button').hasError('required') && remindModal.get('button').touched"
             class="alert alert-danger"> Button Text is required.
          </div>
          <div *ngIf="!remindModal.get('button').valid && !remindModal.get('button').hasError('required')"
             class="alert alert-danger"> Button Text should me less than 30.
          </div>
      <div class="form-group" [hidden]="!remindtext">
        <label for="exampleFormControlTextarea1">Copy text</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" (ngModelChange)="onChange($event,5,'remindModal')" rows="4" formControlName="copytext"></textarea>
      </div>
          <div *ngIf="remindModal.get('copytext').hasError('required') && remindModal.get('copytext').touched"
             class="alert alert-danger"> Copy Text is required.
          </div>
            <div class="btns-wrap">
              <div class="btn back" (click)="back(2)">
                <svg width="120px" height="40px" viewBox="0 0 120 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Onboarding-—-UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="04-onboarding-customize-sidebar-1-expand" transform="translate(-990.000000, -745.000000)">
                      <g id="Editor" transform="translate(960.000000, 50.000000)">
                        <g id="BTTNS" transform="translate(0.000000, 680.000000)">
                          <g id="btns" transform="translate(29.000000, 15.000000)">   
                            <text fill="#172b4d" font-family="VAGRounded" font-size="18">
                              <tspan x="50" y="25">Back</tspan>
                            </text>
                            <g id="btn-copy">
                              <g id="Rectangle">
                                <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                                <path stroke="#D9E3F6" stroke-width="1" d="M18.6980044,0.5 C17.0021224,0.5 15.4010722,1.28234658 14.3589553,2.62025846 L2.01825159,18.4637538 C1.31464499,19.3670725 1.31464499,20.6329275 2.01825159,21.5362462 L14.3589553,37.3797415 C15.4010722,38.7176534 17.0021224,39.5 18.6980044,39.5 L118,39.5 C119.380712,39.5 120.5,38.3807119 120.5,37 L120.5,3 C120.5,1.61928813 119.380712,0.5 118,0.5 L18.6980044,0.5 Z"></path>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="btn btn-next" (click)="onSubmitForm(2,remindModal._status=='INVALID')">
                <svg width="120px" height="40px" viewBox="0 0 120 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Onboarding-—-UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="04-onboarding-customize-sidebar-1-expand" transform="translate(-1130.000000, -745.000000)" fill="#3FD17F">
                      <g id="Editor" transform="translate(960.000000, 50.000000)">
                        <g id="BTTNS" transform="translate(0.000000, 680.000000)">
                          <g id="btns" transform="translate(29.000000, 15.000000)"> 
                            <g id="btn" transform="translate(141.000000, 0.000000)">
                              <path d="M17.7074578,6.96219663e-15 L117.009453,-7.10544174e-15 L117.009453,-7.54951657e-15 C118.666308,-1.52117867e-14 120.009453,1.34314575 120.009453,3 L120.009453,37 L120.009453,37 C120.009453,38.6568542 118.666308,40 117.009453,40 L17.7074578,40 L17.7074578,40 C15.8574047,40 14.1108045,39.146531 12.9739497,37.6869908 L0.633245943,21.8434954 L0.633245943,21.8434954 C-0.211081981,20.759513 -0.211081981,19.240487 0.633245943,18.1565046 L12.9739497,2.31300923 L12.9739497,2.31300923 C14.1108045,0.853469 15.8574047,6.42391858e-15 17.7074578,4.4408921e-15 Z" id="Rectangle" transform="translate(60.004727, 20.000000) rotate(-180.000000) translate(-60.004727, -20.000000) "></path>
                            </g>
                            <text fill="#FFFFFF" font-family="VAGRounded" font-size="18">
                              <tspan x="179" y="26">Next</tspan>
                            </text>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
              </svg>
              </div>
            </div>
    </form>







<!-- exit modal code --> 

    <form class="myform" [formGroup]="exitModal" *ngIf="exitshow">
      <div class="form-group">
        <label class="form-control-label" for="formGroupExampleInput">Background Color</label>
        <input class="form-control color-picker-input" [(colorPicker)]="color" [attr.value]="color" cpPosition="bottom" (ngModelChange)="onChange($event,1,'exitModalValue')" formControlName="backgroundColor">
        <div *ngIf="exitModal.get('backgroundColor').hasError('pattern')"
                 class="alert alert-danger"> Enter correct HEX code.
              </div>
      </div>
      <div class="form-group">
        <label class="form-control-label" for="formGroupExampleInput2">Active Color</label>
        <input class="form-control color-picker-input" [(colorPicker)]="color1" [attr.value]="color1" cpPosition="bottom" (ngModelChange)="onChange($event,2,'exitModalValue')" id="formGroupExampleInput2" formControlName="activeColor">
        <div *ngIf="exitModal.get('activeColor').hasError('pattern')"
                 class="alert alert-danger"> Enter correct HEX code.
              </div>
      </div>
      <p class="form-control-label visible-on-label">Visible On</p>
       <div class="visible-on-wrap">

        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" formControlName="visibleOnDesktop">
            Desktop
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" formControlName="visibleOnMobile">
            Mobile
          </label>
        </div>
      </div>
      <div class="clearfix">
        <h3 class="right-side-title underline" (click)="exittextsetting()">TEXT SETTINGS</h3>
      </div>
      <div class="form-group" [hidden]="!exittext">
        <label class="form-control-label" for="formGroupExampleInput">Title</label>
        <input type="text" class="form-control" id="formGroupExampleInput" (ngModelChange)="onChange($event,3,'exitModalValue')" formControlName="title">
      </div>
         <div *ngIf="exitModal.get('title').hasError('required') && exitModal.get('title').touched"
             class="alert alert-danger"> Title is required.
          </div>
      <div class="form-group" [hidden]="!exittext">
        <label class="form-control-label" for="formGroupExampleInput2">Button</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" (ngModelChange)="onChange($event,4,'exitModalValue')" formControlName="button">
      </div>
          <div *ngIf="exitModal.get('button').hasError('required') && exitModal.get('button').touched"
             class="alert alert-danger"> Button Text is required.
          </div>
          <div *ngIf="!exitModal.get('button').valid && !exitModal.get('button').hasError('required')"
             class="alert alert-danger"> Button Text should me less than 30.
          </div>
      <div class="form-group" [hidden]="!exittext">
        <label for="exampleFormControlTextarea1">Copy text</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" (ngModelChange)="onChange($event,5,'exitModalValue')" rows="4" formControlName="copytext"></textarea>
      </div>
          <div *ngIf="exitModal.get('copytext').hasError('required') && exitModal.get('copytext').touched"
             class="alert alert-danger"> Copy Text is required.
          </div>
            <div class="btns-wrap">
              <div class="btn back" (click)="back(3)">
                <svg width="120px" height="40px" viewBox="0 0 120 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Onboarding-—-UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="04-onboarding-customize-sidebar-1-expand" transform="translate(-990.000000, -745.000000)">
                      <g id="Editor" transform="translate(960.000000, 50.000000)">
                        <g id="BTTNS" transform="translate(0.000000, 680.000000)">
                          <g id="btns" transform="translate(29.000000, 15.000000)">   
                            <text fill="#172b4d" font-family="VAGRounded" font-size="18">
                              <tspan x="50" y="25">Back</tspan>
                            </text>
                            <g id="btn-copy">
                              <g id="Rectangle">
                                <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                                <path stroke="#D9E3F6" stroke-width="1" d="M18.6980044,0.5 C17.0021224,0.5 15.4010722,1.28234658 14.3589553,2.62025846 L2.01825159,18.4637538 C1.31464499,19.3670725 1.31464499,20.6329275 2.01825159,21.5362462 L14.3589553,37.3797415 C15.4010722,38.7176534 17.0021224,39.5 18.6980044,39.5 L118,39.5 C119.380712,39.5 120.5,38.3807119 120.5,37 L120.5,3 C120.5,1.61928813 119.380712,0.5 118,0.5 L18.6980044,0.5 Z"></path>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="btn btn-next" [ngClass]="{disabled: exitModal._status=='INVALID'}" (click)="onSubmitForm(3, exitModal._status=='INVALID')">
                <svg width="120px" height="40px" viewBox="0 0 120 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Onboarding-—-UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="04-onboarding-customize-sidebar-1-expand" transform="translate(-1130.000000, -745.000000)" fill="#3FD17F">
                      <g id="Editor" transform="translate(960.000000, 50.000000)">
                        <g id="BTTNS" transform="translate(0.000000, 680.000000)">
                          <g id="btns" transform="translate(29.000000, 15.000000)"> 
                            <g id="btn" transform="translate(141.000000, 0.000000)">
                              <path d="M17.7074578,6.96219663e-15 L117.009453,-7.10544174e-15 L117.009453,-7.54951657e-15 C118.666308,-1.52117867e-14 120.009453,1.34314575 120.009453,3 L120.009453,37 L120.009453,37 C120.009453,38.6568542 118.666308,40 117.009453,40 L17.7074578,40 L17.7074578,40 C15.8574047,40 14.1108045,39.146531 12.9739497,37.6869908 L0.633245943,21.8434954 L0.633245943,21.8434954 C-0.211081981,20.759513 -0.211081981,19.240487 0.633245943,18.1565046 L12.9739497,2.31300923 L12.9739497,2.31300923 C14.1108045,0.853469 15.8574047,6.42391858e-15 17.7074578,4.4408921e-15 Z" id="Rectangle" transform="translate(60.004727, 20.000000) rotate(-180.000000) translate(-60.004727, -20.000000) "></path>
                            </g>
                            <text fill="#FFFFFF" font-family="VAGRounded" font-size="18">
                             <tspan x="179" y="26">Next</tspan>
                            </text>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
              </svg>
            </div>
          </div>
    </form>


  </div>

</div>

