
#home-page{
  position: relative;
  background-color: #f5f8fb;
  text-align: center;
}
.mac-img {
    width: 101%;
    max-width: 910px;
    position: absolute;
    bottom: 1px;
    height: 564px;
    margin: -2px -3px;
    left: 0px;
    right: 0;
    box-shadow: 0 10px 20px 0 rgba(156, 181, 225, 0.2);
}
.launcher-page-title{
	font-size: 42px;
    text-align: center;
    margin-top: 37px;
}
.launcher-page-desc{
	font-size: 22px;
    text-align: center;
    color: #637381;
    line-height: 1.36;
    width: 483px;
    height: 60px;
    margin: auto;
}

select.form-control:not([size]):not([multiple]) {
    height: 3.8rem;
}
.navbar-nav {
  width: 100%;
}
.navbar-nav>li {
  width: 50%;
}
.last{
    padding-bottom: 198px;
}
.bottomRight{
      margin-top: 63% ;
      margin-right: 2% ;
      margin-left : 70%;
}
.right{
      margin-top: -26% ;
      margin-right: 2% ;
      margin-left : 70%; 
}
.left{
      margin-top: -26% ;
      margin-right: 2% ;
      margin-left: -67%;
}
.topRight{
     margin-top: -47%;
      margin-right: 2% ;
      margin-left : 70%;
}
.bottomLeft{
      margin-top: 58% ;
      margin-left : -67%; 
}
.topLeft{
        margin-top: -47% ;
      margin-left : -67%
}
#launcher{
 position: relative; 
 }
.design-settings{
  font-family:VAGRounded;
  font-size :12px;
  font-weight : bold;
  letter-spacing : 2px;
  text-align : left;
  color : #637381;
}
.reset-to-default{
  font-family : VAGRounded;
  font-size : 12px;
  font-weight : 300;
  text-align : left;
  color : #8993a4;
  border-bottom:solid 1px #d6d9df;
  border-bottom-style:dashed;
  display:inline-block;
  }
  .unlock-secret-price{
    font-size : 14px;
    font-weight : bold;
    letter-spacing : 0.5px;
    text-align : center;
    color : #637381;
    text-indent: 2px;
    margin-left: -2px;
    font-family: VAGRoundedBold;
  }
.unlock-secret-price .text-style-1{
  letter-spacing : normal
}
.my-total-savings{
  font-size : 14px;
  font-weight : bold;
  letter-spacing : 0.5px;
  text-align : center;
  color : #637381;
  text-indent: -3px;
  font-family: VAGRoundedBold;
  }

.del-form-inputs{
  border-radius : 3px;
  background-color : #ffffff;
  border : solid 1px  #d9e3f6;
}
.text-settings{
  width : 104px;
  height : 14px;
  font-family : VAGRounded;
  font-size : 12px;
  font-weight : bold;
  letter-spacing : 2px;
  text-align : left;
  color : #637381;
  border-bottom: solid 1px #b1b9c0;
  border-bottom-style: dashed;
  display:inline-block;
  }
.active {
    border-bottom: 4px solid #2196f3;
}
.pad-bottom.navbar-nav>li>a{
  padding-bottom:12px;
  cursor: pointer;
}


@mixin rangeThumb {
  width: 18px;
  height: 18px;
  margin: -8.8px 0 0;
  border-radius: 50%;
  background: #2196f3;
  cursor: pointer;
  z-index:999;
  position: relative;
  box-shadow: 0 3px 6px 0 rgba(156, 181, 225, 0.4);
  border: solid 4px #ffffff !important;
}

@mixin rangeTrack {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #d9e3f6;
}

.range {
  position: relative;
  width: 260px;
  height: 4px;
}

.range input {
  width: 100%;
  position: absolute;
  top: 2px;
  height: 0;
  -webkit-appearance: none;

  // Thumb
  &::-webkit-slider-thumb {
    -webkit-appearance: none; // needed again for Chrome & Safari
    @include rangeThumb;
  }

  &::-moz-range-thumb {
    @include rangeThumb;
  }

  &::-ms-thumb {
    @include rangeThumb;
  }

  // Track
  &::-webkit-slider-runnable-track {
    @include rangeTrack;
  }

  &::-moz-range-track {
    @include rangeTrack;
  }

  &::-ms-track {
    @include rangeTrack;
  }

  &:focus { // override outline/background on focus
    background: none;
    outline: none;
  }

  &::-ms-track { // A little somethin' somethin' for IE
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
}

// Labels below slider
.range-labels {
   margin: 18px -6px 0;
  padding: 0;
  list-style: none;
  
  li {
    position: relative;
    float: left;
    width: 43.25px;
    text-align: center;
    color: transparent;
    font-size: 12px;
    cursor: pointer;
    
    &::before {
      z-index:0;
      position: absolute;
      top: -24px;
      right: 22px;
      left: 0px;
      content: "";
      margin: 0 auto;
      width: 8px;
      height: 8px;
      background: #d9e3f6;
      border-radius: 50%;
    }
  }
  
  .lastli{
  width:0px;
  }
  .slide-active {
    color: #37adbf;
    margin-top: -7px;
  }
  
  .selected::before {
    background: #37adbf;
  }
  
  .slide-active.selected::before {
    display: none;
  }
}

.slider-edge{
   margin-left: 120px;
}

#welcome-modal-page {
  height: calc(100% - 50px);
  min-height: 745px;
  position: relative;
  background-color: #f5f8fb;
  text-align: center;
}

.welcome-page-title {
  font-size: 42px;
  font-weight: 300;
  color: #172b4d;
  margin: 43px 30px 9px 31px;
}

.welcome-page-desc {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.4;
  color: #637381;
  opacity: 0.8;
  max-width: 50%;
  width:600px;
  margin: 11px 0px 0px 240px;
}

.left-side {
  width: 75%;
  height: 100%;
  float: left;
  position: relative;
}

.right-side {
  width: 25%;
  height: 100%;
  float: left;
  background-color: #fff;
  position: relative;
  
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
  background-color: #fff;
}

.live-view-wrap {
  width: 100%;
  max-width: 900px;
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}

.mac-img {
  width: 101%;
  max-width: 910px;
}

.right-side-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: left;
  width: 100%;
  padding: 31px 30px;
  padding-bottom: 13px;
}

.right-side-title {
  height: 12px;
  margin: 0;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: left;
  cursor: pointer;
  color: #637381;
  &.underline {
    padding-bottom: 2px;
    border-bottom: 1px dotted;
    display: inline-block;
    float: left;
    margin: 20px 0 2px;
  }
}

.reset {
  height: 15px;
  margin: 0;
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  color: #8993a4;
  padding-bottom: 2px;
  border-bottom: 1px dotted;
  cursor: pointer;
}

.form-group {
  text-align: left;
  margin-top: 9px;
  margin-bottom: 13px;
}

label,
.form-control-label {
  padding: 0;
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  color: #8993a4;
  margin-bottom: 3px;
}

.visible-on-label {
  margin-top: 15px;
  margin-bottom: 0;
}

.form-control {
  height: 38px;
  border-radius: 3px;
  border: solid 1px #d9e3f6;
  box-shadow: none !important;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.36;
  color: #172b4d;
  &[type='color'] {
    padding: 4px 12px;
  }
  &::-webkit-input-placeholder {
    font-family: "VAGRounded", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.36;
    color: #172b4d;
    opacity: 0.3;
  }
  &::-moz-placeholder {
    font-family: "VAGRounded", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.36;
    color: #172b4d;
    opacity: 0.3;
  }
  &:-ms-input-placeholder {
    font-family: "VAGRounded", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.36;
    color: #172b4d;
    opacity: 0.3;
  }
  &:-moz-placeholder {
    font-family: "VAGRounded", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.36;
    color: #172b4d;
    opacity: 0.3;
  }
}

textarea {
  resize: none;
  height: auto !important;
}
.form-check-inline {
  display: inline-block;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.form-check-label {
  font-size: 14px;
}

.form-check-input {
  width: 18px;
  height: 14px;
  margin-top: 0;
  margin-right: 3px;
}

.visible-on-wrap {
  text-align: left;
}

.btns-wrap {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 16px;
  width: calc(100% - 60px);
  margin: auto;
  right: 0;
  left: 0;
}

.btn {
  height: 40px;
  padding: 0;
  cursor: pointer;
}

.btn-back {
  margin-right: 20px;
}

#delightme-welcome-subscribe-email::-webkit-input-placeholder {
  font-family: "SFUIDisplay", "Helvetica Neue", sans-serif;
  font-size: 11px;
  font-weight: 300;
  color: #172b4d;
  opacity: 0.2;
}
#delightme-welcome-subscribe-email::-moz-placeholder {
  font-family: "SFUIDisplay", "Helvetica Neue", sans-serif;
  font-size: 11px;
  font-weight: 300;
  color: #172b4d;
  opacity: 0.2;
}
#delightme-welcome-subscribe-email:-ms-input-placeholder {
  font-family: "SFUIDisplay", "Helvetica Neue", sans-serif;
  font-size: 11px;
  font-weight: 300;
  color: #172b4d;
  opacity: 0.2;
}
#delightme-welcome-subscribe-email:-moz-placeholder {
  font-family: "SFUIDisplay", "Helvetica Neue", sans-serif;
  font-size: 11px;
  font-weight: 300;
  color: #172b4d;
  opacity: 0.2;
}
::-webkit-color-swatch-wrapper {
  width: 24px;
  padding: 0;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #d9e3f6;
}
::-moz-placeholder {
  width: 24px;
  padding: 0;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #d9e3f6;
}
:-ms-input-placeholder {
  width: 24px;
  padding: 0;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #d9e3f6;
}
:-moz-placeholder {
  width: 24px;
  padding: 0;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #d9e3f6;
}
.welcome{
    font-family : VAGRounded;
    font-size : 14px;
    font-weight : bold;
    letter-spacing : 0.5px;
    text-align : center;
    color : #637381;
  }
 .reminder{
    font-family : VAGRounded;
    font-size : 14px;
    font-weight : bold;
    letter-spacing : 0.5px;
    text-align : center;
    color : #637381;
  }
.welcome .text-style-1{
  letter-spacing : normal
}
.exit{
  font-family : VAGRounded;
  font-size : 14px;
  font-weight : bold;
  letter-spacing : 0.5px;
  text-align : center;
  color : #637381;
  }
 .active {
    border-bottom: 4px solid #2196f3;
    color:#172b4d;
}
.pad-bottom.navbar-nav>li>a{
  padding-bottom:6px;
}
.my-nav{
    width: 100%;
}
.navbar-nav>li {
    text-indent: 2px;
    width: 50%;
}
.navbar-nav {
    width: 100%;
    height:47px;
    border-bottom: 1px solid;
    color: #d9e3f6;
}
.navbar-nav>li>a {
    padding-top: 17px;
}
.myform{
   padding: 15px 30px;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #172b4d;
} 
.container-fluid {
  padding: 0;
}

.color-picker-input {
    padding-left: 46px;
}
.design{
  margin-top: 2px;
}
.priColor{
     top: -12px;
    position: relative;
    margin-bottom: -9px;
}

.input-color-rect[_ngcontent-c2] {
    left: 14px;
   }

