<div id="welcome-modal-page" class="clearfix">

  <div class="left-side">

    <h1 class="welcome-page-title">Delight Me Launcher</h1>
    <p class="welcome-page-desc">A Starting point for all interaction of your shoppers with secret deals.</p>
    <div class="live-view-wrap">
      <img src="./assets/img/macbook.png" alt="Macbook" class="mac-img">
     <div id="launcher">
  <div id="unlocksecret" class="unlock-launcher">
     <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="140" height="44" viewBox="0 0 193 54" (mouseover)='over()' (mouseleave) ="mouseLeave()">
         	<defs>
       <path id="ab" d="M22.85 0H186a7 7 0 0 1 7 7v38a7 7 0 0 1-7 7H22.85a10 10 0 0 1-7.853-3.808l-12.615-16a10 10 0 0 1 0-12.384l12.615-16A10 10 0 0 1 22.85 0z"/>
   </defs>
   		<g fill="none" fill-rule="evenodd">
   			<g>
             <mask id="ba" fill="#fff" >
                  <use xlink:href="#b"/>
               </mask>
              <use [attr.fill]="svgColor"  xlink:href="#ab"/>
            <path fill="#FFF" d="M60-1h1v53h-1z" mask="url(#ba)" opacity=".2"/>
         </g>


            <text fill="#fff" font-family="VAGRounded" font-size="18" padding="20px" font-weight="bold" transform="translate(77 8)">
				<tspan x="5" y="18">{{UnlockText}}</tspan>
				</text>
				<text fill="#8993A4" font-family="VAGRounded" font-size="11" font-weight="300" transform="translate(77 8)">
				<tspan x="4" y="33">{{UnlockLowerText}}</tspan>
			</text>
	        <g fill="#FFF">
	              <path d="M21.254 26.567a3.254 3.254 0 1 0 0 6.508 3.254 3.254 0 0 0 0-6.508M21.254 16.707a3.254 3.254 0 1 0 0 6.508 3.254 3.254 0 0 0 0-6.508M41.115 28.748c-.46 1.074-1.159 1.925-2.1 2.552-.94.627-2.115.94-3.526.94h-3.395V17.634h3.068c1.497 0 2.744.314 3.74.94.994.627 1.727 1.503 2.197 2.626s.705 2.404.705 3.843c0 1.396-.23 2.631-.689 3.705m5.135-8.551c-.519-1.512-1.283-2.8-2.292-3.865-1.01-1.064-2.25-1.886-3.717-2.464-1.469-.579-3.142-.868-5.02-.868h-5.567c-.742 0-1.359.24-1.85.72-.491.481-.737 1.103-.737 1.867v18.766c0 .6.14 1.089.418 1.465.278.376.616.647 1.015.81.398.165.804.246 1.22.246h5.83c1.68 0 3.236-.273 4.666-.819 1.43-.545 2.653-1.329 3.668-2.35 1.015-1.02 1.793-2.245 2.333-3.675.54-1.43.81-3.019.81-4.765 0-1.867-.258-3.556-.777-5.068"/>
		       </g>
		       </g>
	        </svg>
	        </div>
	        <div id="mytotalsaving" class="mytotal-launcher" style="display:none">
	          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="191" height="48" viewBox="11 0 182 52" (mouseover)='over()' (mouseleave) ="mouseLeave()">
         <defs>
          <path id="a"  d="M22.85 0H186a7 7 0 0 1 7 7v38a7 7 0 0 1-7 7H22.85a10 10 0 0 1-7.853-3.808l-12.615-16a10 10 0 0 1 0-12.384l12.615-16A10 10 0 0 1 22.85 0z"/>
        </defs>
        <g fill="none" fill-rule="evenodd">
             <g>
               <mask id="b" fill="#fff" >
                   <use xlink:href="#a"/>
                </mask>
               <use [attr.fill]="svgColor"  xlink:href="#a"/>
              <path fill="#FFF" d="M60-1h1v53h-1z" mask="url(#b)" opacity=".2"/>
           </g>
            <text fill="#FFF" font-family="VAGRounded" font-size="24" font-weight="bold" transform="translate(77 8)">
              <tspan x="0" y="27">$5.00</tspan>
          </text>
          <text fill="#8993A4" font-family="VAGRounded" font-size="10" font-weight="300" transform="translate(77 8)">
             <tspan x="65" y="15">{{SavingText}}</tspan> <tspan x="65" y="29">{{SavingText}}</tspan>
            </text>
           <g fill="#FFF">
           <path d="M21.254 26.567a3.254 3.254 0 1 0 0 6.508 3.254 3.254 0 0 0 0-6.508M21.254 16.707a3.254 3.254 0 1 0 0 6.508 3.254 3.254 0 0 0 0-6.508M41.115 28.748c-.46 1.074-1.159 1.925-2.1 2.552-.94.627-2.115.94-3.526.94h-3.395V17.634h3.068c1.497 0 2.744.314 3.74.94.994.627 1.727 1.503 2.197 2.626s.705 2.404.705 3.843c0 1.396-.23 2.631-.689 3.705m5.135-8.551c-.519-1.512-1.283-2.8-2.292-3.865-1.01-1.064-2.25-1.886-3.717-2.464-1.469-.579-3.142-.868-5.02-.868h-5.567c-.742 0-1.359.24-1.85.72-.491.481-.737 1.103-.737 1.867v18.766c0 .6.14 1.089.418 1.465.278.376.616.647 1.015.81.398.165.804.246 1.22.246h5.83c1.68 0 3.236-.273 4.666-.819 1.43-.545 2.653-1.329 3.668-2.35 1.015-1.02 1.793-2.245 2.333-3.675.54-1.43.81-3.019.81-4.765 0-1.867-.258-3.556-.777-5.068"/>
          </g>
        </g>
     </svg>
     </div>
	</div>
	</div>
	</div>



  <div class="right-side" >
 	<nav class="my-nav">
		  <div class=""> 
		    <ul class="nav navbar-nav pad-bottom">
		      <li (click)="unlockForm(true)"><a class="unlock-secret-price active" id="Unlockli">Unlock Secret Price</a></li>
		      <li (click)="unlockForm(false)"><a class="my-total-savings" id="myPriceli">My Total Savings</a></li>
		    </ul>
		  </div> 
		  </nav>
    <div class="right-side-top">
      <h3 class="right-side-title design">DESIGN SETTINGS</h3>
      <p class="reset" (click)="resetDefault()">Reset to Default</p>
    </div>

    <form class="myform" [formGroup]="unlockSecretPrice" *ngIf="unlockPrice">
    <div class="form-group">
		<label class="form-control-label" for="position">Positioning</label>
		<select class="form-control" formControlName="position" 
		(ngModelChange)="onChange($event)">
	      <option value="bottomRight">Bottom Right</option>
	      <option value="bottomLeft">Bottom Left</option>
	      <option value="right">Right</option>
	      <option value="left">Left</option>
	      <option value="topRight">Top Right</option>
	      <option value="topLeft">Top Left</option>
	    </select>
	</div>
	<div class="form-group">
	<label class="form-control-label" for="position">Fontface</label>
	<select class="form-control" formControlName="fontface">
	      <option value="VAG Rounded(Default)">VAG Rounded(Default)</option>
	      <option value="Shopify default fonts">Shopify default fonts</option>
	</select>
	</div>
	<div class="form-group">
	<label class="form-control-label" for="position">Square Edge<span class="slider-edge">Rounded Edge</span></label>
	<div class="range">
	  <input type="range" min="1" max="7" steps="1" [attr.value]="edgeValue">
	</div>
	<ul class="range-labels">
	  <li [ngClass]="{'slide-active': edgeValue == 1, 'selected': edgeValue == 1}" (click)="setEdge(1)">1 px</li>
	  <li [ngClass]="{'slide-active': edgeValue == 2, 'selected': edgeValue == 2}" (click)="setEdge(2)">2 px</li>
	  <li [ngClass]="{'slide-active': edgeValue == 3, 'selected': edgeValue == 3}"  (click)="setEdge(3)">3 px</li>
	  <li [ngClass]="{'slide-active': edgeValue == 4, 'selected': edgeValue == 4}"  (click)="setEdge(4)">4 px</li>
	  <li [ngClass]="{'slide-active': edgeValue == 5, 'selected': edgeValue == 5}"  (click)="setEdge(5)">5 px</li>
	  <li [ngClass]="{'slide-active': edgeValue == 6, 'selected': edgeValue == 6}"  (click)="setEdge(6)">6 px</li>
	  <li class="lastli" [ngClass]="{'slide-active': edgeValue == 7, 'selected': edgeValue == 7}"  (click)="setEdge(7)">7 px</li>
	</ul>
	</div>
     <div class="form-group priColor">
		<label class="form-control-label" for="position">Primary Color</label>
    <input class="form-control color-picker-input" [(colorPicker)]="color" [attr.value]="color" cpPosition="bottom" (ngModelChange)="onChangePrimaryColor($event)" formControlName="primarycolor">
      <div *ngIf="unlockSecretPrice.get('primarycolor').hasError('pattern')"
           class="alert alert-danger"> Enter correct HEX code.
        </div>
		</div>
		<div class="form-group">
		<label class="form-control-label" for="position">Hover Color</label>
    <input class="form-control color-picker-input" [(colorPicker)]="color2" [attr.value]="color2" cpPosition="bottom" (ngModelChange)="onChangeHoverColor($event)" formControlName="hovercolor">
    <div *ngIf="unlockSecretPrice.get('hovercolor').hasError('pattern')"
           class="alert alert-danger"> Enter correct HEX code.
        </div>
		</div>
      <div class="clearfix">
        <h3 class="right-side-title underline" (click)="textsetting()">TEXT SETTINGS</h3>
      </div>
      
      <div class="form-group">
		<div  [hidden]="!unlocksecret">
			<label class="form-control-label" for="name">Copy Text</label>
			<input type="text" class="form-control form-common del-form-inputs" [attr.value]="unlockSecretPrice.copytext" formControlName="copytext" (ngModelChange)="onChangeUnlockText($event,1)">
      
			<div *ngIf="unlockSecretPrice.get('copytext').hasError('required') && unlockSecretPrice.get('copytext').touched" class="alert alert-danger"> Copy Text is required.
		</div>
		</div>
		</div>
		  <div class="btns-wrap">
	      <div class="btn btn-back" (click)="unlockBack(1)">
          <svg width="120px" height="40px" viewBox="0 0 120 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Onboarding-—-UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="04-onboarding-customize-sidebar-1-expand" transform="translate(-990.000000, -745.000000)">
                      <g id="Editor" transform="translate(960.000000, 50.000000)">
                        <g id="BTTNS" transform="translate(0.000000, 680.000000)">
                          <g id="btns" transform="translate(29.000000, 15.000000)">   
                            <text fill="#172b4d" font-family="VAGRounded" font-size="18">
                              <tspan x="50" y="25">Back</tspan>
                            </text>
                            <g id="btn-copy">
                              <g id="Rectangle">
                                <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                                <path stroke="#D9E3F6" stroke-width="1" d="M18.6980044,0.5 C17.0021224,0.5 15.4010722,1.28234658 14.3589553,2.62025846 L2.01825159,18.4637538 C1.31464499,19.3670725 1.31464499,20.6329275 2.01825159,21.5362462 L14.3589553,37.3797415 C15.4010722,38.7176534 17.0021224,39.5 18.6980044,39.5 L118,39.5 C119.380712,39.5 120.5,38.3807119 120.5,37 L120.5,3 C120.5,1.61928813 119.380712,0.5 118,0.5 L18.6980044,0.5 Z"></path>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
	      </div>
	      <div class="btn btn-next" (click)="myTotalNext(1)">
          <svg width="120px" height="40px" viewBox="0 0 120 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Onboarding-—-UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="04-onboarding-customize-sidebar-1-expand" transform="translate(-1130.000000, -745.000000)" fill="#3FD17F">
                      <g id="Editor" transform="translate(960.000000, 50.000000)">
                        <g id="BTTNS" transform="translate(0.000000, 680.000000)">
                          <g id="btns" transform="translate(29.000000, 15.000000)"> 
                            <g id="btn" transform="translate(141.000000, 0.000000)">
                              <path d="M17.7074578,6.96219663e-15 L117.009453,-7.10544174e-15 L117.009453,-7.54951657e-15 C118.666308,-1.52117867e-14 120.009453,1.34314575 120.009453,3 L120.009453,37 L120.009453,37 C120.009453,38.6568542 118.666308,40 117.009453,40 L17.7074578,40 L17.7074578,40 C15.8574047,40 14.1108045,39.146531 12.9739497,37.6869908 L0.633245943,21.8434954 L0.633245943,21.8434954 C-0.211081981,20.759513 -0.211081981,19.240487 0.633245943,18.1565046 L12.9739497,2.31300923 L12.9739497,2.31300923 C14.1108045,0.853469 15.8574047,6.42391858e-15 17.7074578,4.4408921e-15 Z" id="Rectangle" transform="translate(60.004727, 20.000000) rotate(-180.000000) translate(-60.004727, -20.000000) "></path>
                            </g>
                            <text fill="#FFFFFF" font-family="VAGRounded" font-size="18">
                              <tspan x="179" y="26">Next</tspan>
                            </text>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
              </svg>
	      </div>
	  </div>	
    </form>

    <form class="myform" [formGroup]="myTotalSaving" *ngIf="totalSaving">
     <div class="form-group" >
		<label class="form-control-label" for="position">Positioning</label>
		<select class="form-control" formControlName="position" 
		(ngModelChange)="onChange($event)">
	      <option value="bottomRight">Bottom Right</option>
	      <option value="bottomLeft">Bottom Left</option>
	      <option value="right">Right</option>
	      <option value="left">Left</option>
	      <option value="topRight">Top Right</option>
	      <option value="topLeft">Top Left</option>
	    </select>
	</div>
	<div class="form-group">
	<label class="form-control-label" for="position">Fontface</label>
	<select class="form-control" formControlName="fontface">
	      <option value="VAG Rounded(Default)">VAG Rounded(Default)</option>
	      <option value="Shopify default fonts">Shopify default fonts</option>
	</select>
	</div>
	<div class="form-group">
	<label class="form-control-label" for="position">Square Edge<span class="slider-edge">Rounded Edge</span></label>
	<div class="range">
	  <input type="range" min="1" max="7" steps="1" [attr.value]="edgeValue">
	</div>
	<ul class="range-labels">
	  <li [ngClass]="{'slide-active': edgeValue == 1, 'selected': edgeValue == 1}" (click)="setEdge(1)">1 px</li>
	  <li [ngClass]="{'slide-active': edgeValue == 2, 'selected': edgeValue == 2}" (click)="setEdge(2)">2 px</li>
	  <li [ngClass]="{'slide-active': edgeValue == 3, 'selected': edgeValue == 3}"  (click)="setEdge(3)">3 px</li>
	  <li [ngClass]="{'slide-active': edgeValue == 4, 'selected': edgeValue == 4}"  (click)="setEdge(4)">4 px</li>
	  <li [ngClass]="{'slide-active': edgeValue == 5, 'selected': edgeValue == 5}"  (click)="setEdge(5)">5 px</li>
	  <li [ngClass]="{'slide-active': edgeValue == 6, 'selected': edgeValue == 6}"  (click)="setEdge(6)">6 px</li>
	  <li class="lastli" [ngClass]="{'slide-active': edgeValue == 7, 'selected': edgeValue == 7}"  (click)="setEdge(7)">7 px</li>
	</ul>
	</div>
     <div class="form-group">
		<label class="form-control-label" for="position">Primary Color</label>
    <input class="form-control color-picker-input" [(colorPicker)]="color" [attr.value]="color" cpPosition="bottom" (ngModelChange)="onChangePrimaryColor($event)" formControlName="primarycolor">
    <div *ngIf="myTotalSaving.get('primarycolor').hasError('pattern')"
           class="alert alert-danger"> Enter correct HEX code.
        </div>
		</div>
		<div class="form-group">
		<label class="form-control-label" for="position">Hover Color</label>
    <input class="form-control color-picker-input" [(colorPicker)]="color2" [attr.value]="color2" cpPosition="bottom" (ngModelChange)="onChangeHoverColor($event)" formControlName="hovercolor">
    <div *ngIf="myTotalSaving.get('hovercolor').hasError('pattern')"
           class="alert alert-danger"> Enter correct HEX code.
        </div>
		</div>
      <div class="clearfix">
        <h3 class="right-side-title underline" (click)="savingtextsetting(true)">TEXT SETTINGS</h3>
      </div>
      
      <div class="form-group">
		<div  [hidden]="!myTotalsaving">
			<label class="form-control-label" for="name">Copy Text</label>
			<input type="text" class="form-control" placeholder="My Total Price"  formControlName="copytext" (ngModelChange)="onChangeSavingText($event,1)">
		    <div *ngIf="myTotalSaving.get('copytext').hasError('required') && myTotalSaving.get('copytext').touched"
	           class="alert alert-danger"> Copy Text is required.
	        </div>
		</div>
		</div>
	     <div class="btns-wrap">
	      <div class="btn btn-back" (click)="unlockBack(2)">
          <svg width="120px" height="40px" viewBox="0 0 120 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Onboarding-—-UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="04-onboarding-customize-sidebar-1-expand" transform="translate(-990.000000, -745.000000)">
                      <g id="Editor" transform="translate(960.000000, 50.000000)">
                        <g id="BTTNS" transform="translate(0.000000, 680.000000)">
                          <g id="btns" transform="translate(29.000000, 15.000000)">   
                            <text fill="#172b4d" font-family="VAGRounded" font-size="18">
                              <tspan x="50" y="25">Back</tspan>
                            </text>
                            <g id="btn-copy">
                              <g id="Rectangle">
                                <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                                <path stroke="#D9E3F6" stroke-width="1" d="M18.6980044,0.5 C17.0021224,0.5 15.4010722,1.28234658 14.3589553,2.62025846 L2.01825159,18.4637538 C1.31464499,19.3670725 1.31464499,20.6329275 2.01825159,21.5362462 L14.3589553,37.3797415 C15.4010722,38.7176534 17.0021224,39.5 18.6980044,39.5 L118,39.5 C119.380712,39.5 120.5,38.3807119 120.5,37 L120.5,3 C120.5,1.61928813 119.380712,0.5 118,0.5 L18.6980044,0.5 Z"></path>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
	      </div>
	      <div class="btn btn-next" (click)="myTotalNext(2)">
          <svg width="120px" height="40px" viewBox="0 0 120 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Onboarding-—-UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="04-onboarding-customize-sidebar-1-expand" transform="translate(-1130.000000, -745.000000)" fill="#3FD17F">
                      <g id="Editor" transform="translate(960.000000, 50.000000)">
                        <g id="BTTNS" transform="translate(0.000000, 680.000000)">
                          <g id="btns" transform="translate(29.000000, 15.000000)"> 
                            <g id="btn" transform="translate(141.000000, 0.000000)">
                              <path d="M17.7074578,6.96219663e-15 L117.009453,-7.10544174e-15 L117.009453,-7.54951657e-15 C118.666308,-1.52117867e-14 120.009453,1.34314575 120.009453,3 L120.009453,37 L120.009453,37 C120.009453,38.6568542 118.666308,40 117.009453,40 L17.7074578,40 L17.7074578,40 C15.8574047,40 14.1108045,39.146531 12.9739497,37.6869908 L0.633245943,21.8434954 L0.633245943,21.8434954 C-0.211081981,20.759513 -0.211081981,19.240487 0.633245943,18.1565046 L12.9739497,2.31300923 L12.9739497,2.31300923 C14.1108045,0.853469 15.8574047,6.42391858e-15 17.7074578,4.4408921e-15 Z" id="Rectangle" transform="translate(60.004727, 20.000000) rotate(-180.000000) translate(-60.004727, -20.000000) "></path>
                            </g>
                            <text fill="#FFFFFF" font-family="VAGRounded" font-size="18">
                              <tspan x="179" y="26">Next</tspan>
                            </text>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
              </svg>
	      </div>
	  </div>
    </form>


</div>
</div>

