<div id="welcome-modal-page" class="clearfix">

  <div class="left-side">

    <h1 class="welcome-page-title">Delight Me Cart</h1>
    <p class="welcome-page-desc">The robust panel, connecting secret deals with customer shopping cart.</p>
  
    <div class="live-view-wrap">
      <img src="./assets/img/macbook-layout-item-view-cropped.png" alt="Macbook" class="mac-img">
      <div id="delightme-sidebar-full-height" *ngIf="priceDropShow" style=" max-height: 90%; box-shadow: rgba(23, 43, 77, 0.2) 0px 4px 10px 0px; position: absolute; bottom: 15px; right: 50px; width: 190px; height: 309px; background-color: rgb(255, 255, 255); z-index: 99997;">  
        <div id="priceDropheader" style="padding: 10px 10px 6px 10px; background-color: #333841; box-shadow: 0 1px 10px 0 rgba(23, 43, 77, 0.2); text-align: left;">    
          <div style="float: left;">      
            <svg version="1.1" id="Layer_1" width="27.5" height="24.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 33 28" style="enable-background:new 0 0 33 28;" xml:space="preserve">        
              <style type="text/css">          .st0{
                fill:#FFFFFF;
                }
              </style>        
              <g id="Symbols">          
                <g id="Header-UI" transform="translate(-1115.000000, -11.000000)">            
                  <g id="Header">              
                    <g id="User" transform="translate(1115.000000, 11.000000)">                
                      <g id="Badge-Copy">                  
                        <g id="label">                    
                          <path class="st0" d="M14.2,0h14.3l0,0c2.2,0,4,1.8,4,4v19.7l0,0c0,2.2-1.8,4-4,4H14.2c-2.5,0-4.8-1.1-6.3-3l-6.6-8.3l0,0 c-1.1-1.5-1.1-3.5,0-5L7.9,3l0,0C9.5,1.1,11.8,0,14.2,0L14.2,0z M12.2,14.2c-1,0-1.7,0.8-1.7,1.7c0,1,0.8,1.7,1.7,1.7 s1.7-0.8,1.7-1.7C13.9,14.9,13.2,14.2,12.2,14.2z M12.2,8.9c-1,0-1.7,0.8-1.7,1.7s0.8,1.7,1.7,1.7s1.7-0.8,1.7-1.7 S13.2,8.9,12.2,8.9z M22.8,15.3c-0.2,0.6-0.6,1-1.1,1.4c-0.5,0.3-1.1,0.5-1.9,0.5H18V9.4h1.6c0.8,0,1.5,0.2,2,0.5 c0.5,0.3,0.9,0.8,1.2,1.4c0.3,0.6,0.4,1.3,0.4,2C23.2,14.1,23,14.8,22.8,15.3z M25.5,10.8c-0.3-0.8-0.7-1.5-1.2-2.1 s-1.2-1-2-1.3c-0.8-0.3-1.7-0.5-2.7-0.5h-3c-0.4,0-0.7,0.1-1,0.4c-0.3,0.3-0.4,0.6-0.4,1v10c0,0.3,0.1,0.6,0.2,0.8 c0.1,0.2,0.3,0.3,0.5,0.4c0.2,0.1,0.4,0.1,0.7,0.1h3.1c0.9,0,1.7-0.1,2.5-0.4c0.8-0.3,1.4-0.7,2-1.3c0.5-0.5,1-1.2,1.2-2 c0.3-0.8,0.4-1.6,0.4-2.5C26,12.5,25.8,11.6,25.5,10.8z">
                          </path>                  
                        </g>                
                      </g>              
                    </g>            
                  </g>          
                </g>        
              </g>      
            </svg>    
          </div>    
          <div style="float: left; padding: 0px 20px 0 11px;">      
            <h3 style="margin: 0; color: #fff; margin-bottom: 5px; font-family: 'VAGRounded', 'Helvetica Neue Light', sans-serif; font-size: 12px; font-weight: bold; margin-bottom: 3px;">        Hi Stacy!      
            </h3>      
            <p style="margin: 0; font-size: 10px; font-family: 'VAGRounded', 'Helvetica Neue Light', sans-serif; font-weight: 300; opacity: 0.5; color: #8993a4; ">Your cart is still empty
            </p>    
          </div>    
          <div style="float: right; margin-top: 14px;">      
            <svg id="delightme-sidebar-close-x" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 14 14" style="display: block; enable-background: new 0 0 14 14; height: 7px; width: 7px; opacity: 0.3; cursor: pointer;" xml:space="preserve">        
              <polygon style="fill: #8993a4;" points="14,2.1 11.9,0 7,4.9 2.1,0 0,2.1 4.9,7 0,11.9 2.1,14 7,9.1 11.9,14 14,11.9 9.1,7 ">
              </polygon>      
            </svg>    
          </div>    
          <div style="clear: both;">
          </div>  
        </div>  
        <div style="height: calc(100% - 138px);">    
          <div id="price-drop-notification" style="background-color: #3fd17f; padding:11px 0 25px 8px;; text-align: left;">      
            <div>
              <svg style="float: left; vertical-align: middle;" xmlns="http://www.w3.org/2000/svg" width="12" height="11.4" viewBox="0 0 22 21">
                <path fill="none" fill-rule="evenodd" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 1l3.09 6.26L21 8.27l-5 4.87 1.18 6.88L11 16.77l-6.18 3.25L6 13.14 1 8.27l6.91-1.01z">
                </path>        
              </svg>     
              <h3 style="margin: 0 0 0 20px; vertical-align: middle; color: #fff; font-family: VAGRounded; font-size: 12px; font-weight: 900;">
              {{priceDropModalValue.heading}}        
              </h3>      
            </div>      
            <div>    
              <p style="margin-top: 8px; vertical-align: middle; color: #fff; line-height: 1.5; font-family: VAGRounded; font-size: 10px; font-weight: 300; margin-bottom: 0;">  {{priceDropModalValue.copytext}}
              </p>      
            </div>    
          </div>        
          <div style="padding: 9px 8px 0; text-align: left;">      
            <svg style="vertical-align: middle;" xmlns="http://www.w3.org/2000/svg" width="12.9" height="11.7" viewBox="0 0 22 20">        
              <path fill="#333841" fill-rule="nonzero" d="M21.607 6.213a.789.789 0 0 0-.603-.28h-3.09L14.852.614a.79.79 0 1 0-1.368.788l2.608 4.529H6.014l2.608-4.529A.79.79 0 1 0 7.254.615L4.192 5.932h-3.09a.789.789 0 0 0-.777.925L.85 9.889a.789.789 0 0 0 .778.654h.314l1.803 8.61a.79.79 0 0 0 .772.628h13.07a.79.79 0 0 0 .774-.628l1.802-8.61h.314a.789.789 0 0 0 .778-.654l.527-3.032a.796.796 0 0 0-.176-.644zm-1.542 1.298l-.252 1.453H2.293L2.04 7.511h18.025zm-3.119 10.69H5.16l-1.603-7.658h14.993l-1.603 7.659z">
              </path>      
            </svg>      
            <h3 style="display: inline-block; vertical-align: middle; color: #333841; font-family: VAGRounded; font-size: 12px; font-weight: 900; margin: 0 4px 0;padding-left: 4px;">        Your Cart      
            </h3>    
          </div>    
          <div style="text-align: left;">      
            <div style="float: left; line-height: 56px; cursor: pointer; padding-left: 10px;">        
              <svg xmlns="http://www.w3.org/2000/svg" width="5.3" height="7.6" viewBox="0 0 11 14">          
                <g fill="none" fill-rule="evenodd" stroke="#8993A4" stroke-linecap="round" stroke-linejoin="round" opacity=".5">            
                  <path d="M0 3.4H10.8M9.4 3.4v8.4A1.2 1.2 0 0 1 8.2 13h-6A1.2 1.2 0 0 1 1 11.8V3.4m1.8 0V2.2A1.2 1.2 0 0 1 4 1h2.4a1.2 1.2 0 0 1 1.2 1.2v1.2">
                  </path>          
                </g>        
              </svg>      
            </div>      
            <div style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; width: 30%; float: left; padding: 6px 4px 6px 10px;">        
              <img src="https://goo.gl/xB5r9i" alt="Product image" style="width: 42px; height:42px;">      
            </div>      
            <div style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; width: 60%; float: left; padding: 6px 3px 6px 5px;">          
              <h3 style="margin: 2px 0; font-size: 10px; font-family:VAGRounded;">Splash
              </h3>
              <div>
                <p style="margin: 10px 0 0; float: left; font-size: 8px; opacity: 0.5; margin-top: 4px;text-decoration: line-through; color: #8993a4; font-family:VAGRounded;">          $150.00        
                </p>        
                <p id="price-dropped-message" style="font-family: VAGRounded;  font-size: 8px; font-weight: 300; text-align: center; color: #3fd17f; float: right; width: 60px; height: 13px; border-radius: 13px; background-color: #ffffff; border: solid 1px #3fd17f; line-height: 13px; margin-bottom: 0;margin-bottom: -2px; margin-top: 4px; margin-right: 4px;">Price dropped!</p>
                <div style="clear: both"></div>
              </div>
              <div>
                <p style="font-size: 10px; float: left; margin: 0; font-family: VAGRounded; color: #333841; font-weight: 600;">$140.00
                </p>      
                  <p style="font-size: 8px; float: right; color: #8993a4; margin: 3px 4px 0 0;">You save $10.00
                  </p>        
                <div style="clear: both">
                </div>
            </div>      
            </div>   
            <div style="clear: both;"></div> 
          </div>  
        </div>  
        <div style="box-shadow: 0 1px 10px 0 rgba(23, 43, 77, 0.2); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; background-color: #f7f8fa; padding: 9px 8px 10px 5px;">    
          <table style="width: 96%; height: 44px; margin: 0 auto; border-spacing: 10px; text-align: left;">        
            <tbody>
              <tr>          
                <td>            
                  <p style=" margin: 0; color: #333841; font-size: 10px; font-weight: 300; font-family: VAGRounded">              Total Saving            
                  </p>          
                </td>          
                <td align="right">            
                  <p style=" margin: 0; color: #333841; font-size: 10px; font-weight: 30011pxfont-family:VAGRounded">              $10.00            
                  </p>          
                </td>        
              </tr>        
              <tr>          
                <td>            
                  <p style="margin: 0; color: #333841; font-size: 10px; font-weight: 900; font-family:VAGRounded">              Subtotal            
                  </p>          
                </td>          
                <td align="right">            
                  <p style="margin: 0; color: #333841; font-size: 10px; font-weight: 900; font-family:VAGRounded">              $140.00            
                  </p>          
                </td>        
              </tr>      
            </tbody>
          </table>      
          <div style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; text-align: center; padding: 2px 0 0;">        
            <button id="price-drop-checkout-button" style="width: 170px; height: 26px; background: none; border: none; background-color: #333841; color: #fff; font-size: 13px; cursor: pointer; font-family: VAGRounded">          Checkout        
            </button>      
          </div>    
        </div>  
      </div>


<div id="delightme-sidebar-full-height" *ngIf="myPriceShow"  style="max-height: 90%; box-shadow: rgba(23, 43, 77, 0.2) 0px 4px 10px 0px; position: absolute; bottom: 15px; right: 50px; width: 190px; height: 309px; background-color: rgb(255, 255, 255); z-index: 99997;">  
        <div id="mypriceheader" style="padding: 10px 10px 6px 10px; background-color: #333841; box-shadow: 0 1px 10px 0 rgba(23, 43, 77, 0.2); text-align: left;">    
          <div style="float: left;">      
            <svg version="1.1" id="Layer_1" width="27.5" height="24.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 33 28" style="enable-background:new 0 0 33 28;" xml:space="preserve">        
              <style type="text/css">          .st0{
                fill:#FFFFFF;
                }
              </style>        
              <g id="Symbols">          
                <g id="Header-UI" transform="translate(-1115.000000, -11.000000)">            
                  <g id="Header">              
                    <g id="User" transform="translate(1115.000000, 11.000000)">                
                      <g id="Badge-Copy">                  
                        <g id="label">                    
                          <path class="st0" d="M14.2,0h14.3l0,0c2.2,0,4,1.8,4,4v19.7l0,0c0,2.2-1.8,4-4,4H14.2c-2.5,0-4.8-1.1-6.3-3l-6.6-8.3l0,0 c-1.1-1.5-1.1-3.5,0-5L7.9,3l0,0C9.5,1.1,11.8,0,14.2,0L14.2,0z M12.2,14.2c-1,0-1.7,0.8-1.7,1.7c0,1,0.8,1.7,1.7,1.7 s1.7-0.8,1.7-1.7C13.9,14.9,13.2,14.2,12.2,14.2z M12.2,8.9c-1,0-1.7,0.8-1.7,1.7s0.8,1.7,1.7,1.7s1.7-0.8,1.7-1.7 S13.2,8.9,12.2,8.9z M22.8,15.3c-0.2,0.6-0.6,1-1.1,1.4c-0.5,0.3-1.1,0.5-1.9,0.5H18V9.4h1.6c0.8,0,1.5,0.2,2,0.5 c0.5,0.3,0.9,0.8,1.2,1.4c0.3,0.6,0.4,1.3,0.4,2C23.2,14.1,23,14.8,22.8,15.3z M25.5,10.8c-0.3-0.8-0.7-1.5-1.2-2.1 s-1.2-1-2-1.3c-0.8-0.3-1.7-0.5-2.7-0.5h-3c-0.4,0-0.7,0.1-1,0.4c-0.3,0.3-0.4,0.6-0.4,1v10c0,0.3,0.1,0.6,0.2,0.8 c0.1,0.2,0.3,0.3,0.5,0.4c0.2,0.1,0.4,0.1,0.7,0.1h3.1c0.9,0,1.7-0.1,2.5-0.4c0.8-0.3,1.4-0.7,2-1.3c0.5-0.5,1-1.2,1.2-2 c0.3-0.8,0.4-1.6,0.4-2.5C26,12.5,25.8,11.6,25.5,10.8z">
                          </path>                  
                        </g>                
                      </g>              
                    </g>            
                  </g>          
                </g>        
              </g>      
            </svg>    
          </div>    
          <div style="float: left; padding: 0px 20px 0 11px;">      
            <h3 style="margin: 0; color: #fff; margin-bottom: 5px; font-family: 'VAGRounded', 'Helvetica Neue Light', sans-serif; font-size: 12px; font-weight: bold; margin-bottom: 3px;">        Hi Stacy!      
            </h3>      
            <p style="margin: 0; font-size: 10px; font-family: 'VAGRounded', 'Helvetica Neue Light', sans-serif; font-weight: 300; opacity: 0.5; color: #8993a4;">Your cart is still empty
            </p>    
          </div>    
          <div style="float: right; margin-top: 14px;">      
            <svg id="delightme-sidebar-close-x" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 14 14" style="display: block; enable-background: new 0 0 14 14; height: 7px; width: 7px; opacity: 0.3; cursor: pointer;" xml:space="preserve">        
              <polygon style="fill: #8993a4;" points="14,2.1 11.9,0 7,4.9 2.1,0 0,2.1 4.9,7 0,11.9 2.1,14 7,9.1 11.9,14 14,11.9 9.1,7 ">
              </polygon>      
            </svg>    
          </div>    
          <div style="clear: both;">
          </div>  
        </div>  
        <div style="height: calc(100% - 138px);">    
          <div style="background-color: #f7f8fa; padding:11px 0 26px 8px; text-align: left;">      
            <div>
             <svg style="float: left; vertical-align: middle;" xmlns="http://www.w3.org/2000/svg" width="11.5" height="11.5" viewBox="0 0 22 22">
                <g fill="none" fill-rule="evenodd" transform="translate(1 1)">
                <path stroke="#333841" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.59 11.41l-7.17 7.17a2 2 0 0 1-2.83 0L0 10V0h10l8.59 8.59a2 2 0 0 1 0 2.82z"/>
                <circle cx="5" cy="5" r="1" fill="#333841"/>
              </g>
           </svg>    
              <h3 style="margin: 0 0 0 20px; vertical-align: middle; color: #000000; font-family: VAGRounded; font-size: 12px; font-weight: 900;">
               {{myPriceModalValue.title}}      
              </h3>      
            </div>      
            <div>    
              <p style="margin-top: 8px; vertical-align: middle; color: #8993a4; line-height: 1.5; font-family: VAGRounded; font-size: 10px; font-weight: 300; margin-bottom: 0;">  {{myPriceModalValue.copytext}}
              </p>      
            </div>    
          </div>        
          <div style="padding: 9px 8px 0; text-align: left;">      
            <svg style="vertical-align: middle;" xmlns="http://www.w3.org/2000/svg" width="12.9" height="11.7" viewBox="0 0 22 20">        
              <path fill="#333841" fill-rule="nonzero" d="M21.607 6.213a.789.789 0 0 0-.603-.28h-3.09L14.852.614a.79.79 0 1 0-1.368.788l2.608 4.529H6.014l2.608-4.529A.79.79 0 1 0 7.254.615L4.192 5.932h-3.09a.789.789 0 0 0-.777.925L.85 9.889a.789.789 0 0 0 .778.654h.314l1.803 8.61a.79.79 0 0 0 .772.628h13.07a.79.79 0 0 0 .774-.628l1.802-8.61h.314a.789.789 0 0 0 .778-.654l.527-3.032a.796.796 0 0 0-.176-.644zm-1.542 1.298l-.252 1.453H2.293L2.04 7.511h18.025zm-3.119 10.69H5.16l-1.603-7.658h14.993l-1.603 7.659z">
              </path>      
            </svg>      
            <h3 style="display: inline-block; vertical-align: middle; color: #333841; font-family: VAGRounded; font-size: 12px; font-weight: 900; margin: 0 4px 0;">        Your Cart      
            </h3>    
          </div>    
          <div style="text-align: left;">      
            <div style="float: left; line-height: 56px; cursor: pointer; padding-left: 10px;">        
              <svg xmlns="http://www.w3.org/2000/svg" width="5.3" height="7.6" viewBox="0 0 11 14">          
                <g fill="none" fill-rule="evenodd" stroke="#8993A4" stroke-linecap="round" stroke-linejoin="round" opacity=".5">            
                  <path d="M0 3.4H10.8M9.4 3.4v8.4A1.2 1.2 0 0 1 8.2 13h-6A1.2 1.2 0 0 1 1 11.8V3.4m1.8 0V2.2A1.2 1.2 0 0 1 4 1h2.4a1.2 1.2 0 0 1 1.2 1.2v1.2">
                  </path>          
                </g>        
              </svg>      
            </div>      
            <div style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; width: 30%; float: left; padding: 6px 4px 6px 10px;">        
              <img src="https://goo.gl/xB5r9i" alt="Product image" style="width: 42px; height:42px;">      
            </div>      
            <div style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; width: 60%; float: left; padding: 6px 3px 6px 5px;">          
              <h3 style="margin: 2px 0; font-size: 10px;font-weight: bold; font-family:VAGRounded;">Splash
              </h3>
              <div>
                <p style="margin: 10px 0 0; float: left; font-size: 8px; opacity: 0.5; margin-top: 4px;text-decoration: line-through; color: #8993a4; font-family:VAGRounded;">          $150.00        
                </p>        
                <div style="clear: both"></div>
              </div>
              <div>
                <p style="font-size: 10px; float: left; margin: 0; font-family: VAGRounded; color: #000000; font-weight: bold;">$140.00
                </p>      
                  <p style="font-size: 8px; float: right; color: #8993a4; margin: 3px 4px 0 0;">You save $10.00
                  </p>        
                <div style="clear: both">
                </div>
            </div>      
            </div>   
            <div style="clear: both;"></div> 
          </div>  
        </div>  
        <div style="box-shadow: 0 1px 10px 0 rgba(23, 43, 77, 0.2); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; background-color: #f7f8fa; padding: 9px 8px 10px 5px;">    
          <table style="width: 96%; height: 44px; margin: 0 auto; border-spacing: 10px; text-align: left;">        
            <tbody>
              <tr>          
                <td>            
                  <p style=" margin: 0; color: #333841; font-size: 10px; font-weight: 300; font-family: VAGRounded">              Total Saving            
                  </p>          
                </td>          
                <td align="right">            
                  <p style=" margin: 0; color: #333841; font-size: 10px; font-weight: 30011pxfont-family:VAGRounded">              $10.00            
                  </p>          
                </td>        
              </tr>        
              <tr>          
                <td>            
                  <p style="margin: 0; color: #333841; font-size: 10px; font-weight: 900; font-family:VAGRounded">              Subtotal            
                  </p>          
                </td>          
                <td align="right">            
                  <p style="margin: 0; color: #333841; font-size: 10px; font-weight: 900; font-family:VAGRounded">              $140.00            
                  </p>          
                </td>        
              </tr>      
            </tbody>
          </table>      
          <div style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; text-align: center; padding: 2px 0 0;">        
            <button id="myprice-checkout-button"style="width: 170px; height: 26px; background: none; border: none; background-color: #333841; color: #fff; font-size: 13px; cursor: pointer; font-family: VAGRounded">          Checkout        
            </button>      
          </div>    
        </div>  
      </div>

  <div _ngcontent-c1="" id="delightme-sidebar-form-modal"  *ngIf="welcomeShow"  style="box-sizing: border-box;width: 190px;padding: 38px 10px;box-shadow: 0 4px 10px 0 rgba(23, 43, 77, 0.2);background-color: #fff;position: absolute; bottom: 15px; right: 50px;;z-index:9;height: 224px;    ">


    <svg _ngcontent-c1="" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" id="Capa_1" style="position: absolute; right: 10px; top: 10px; width: 7px; height: 7px; cursor: pointer; enable-background: new 35 -38 100 100;" version="1.1" viewBox="0 0 47.971 47.971" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px"><g _ngcontent-c1="">
       <path _ngcontent-c1="" d="M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88 c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242 C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879 s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z" fill="#e3e9f0"></path></g><g _ngcontent-c1=""></g><g _ngcontent-c1=""></g><g _ngcontent-c1=""></g><g _ngcontent-c1=""></g><g _ngcontent-c1=""></g><g _ngcontent-c1=""></g><g _ngcontent-c1=""></g><g _ngcontent-c1=""></g><g _ngcontent-c1=""></g><g _ngcontent-c1=""></g><g _ngcontent-c1=""></g><g _ngcontent-c1=""></g><g _ngcontent-c1=""></g><g _ngcontent-c1=""></g><g _ngcontent-c1=""></g>
     </svg>
     <div _ngcontent-c1="" style="text-align: center;margin-top: -25px;">
       <svg _ngcontent-c1="" height="23.9" viewBox="0 0 40 50" width="23.9" xmlns="http://www.w3.org/2000/svg">
           <g _ngcontent-c1="" fill="#333841" fill-rule="evenodd">
              <path _ngcontent-c1="" d="M28.09 10.846A5.423 5.423 0 1 0 28.09 0a5.423 5.423 0 0 0 0 10.846M32.067 29.49c0 2.497-.523 4.575-1.567 6.233-1.046 1.659-2.504 2.88-4.376 3.663-1.872.784-4.007 1.176-6.406 1.176-2.326 0-4.384-.383-6.174-1.148-1.79-.766-3.209-1.932-4.253-3.5-1.045-1.567-1.568-3.526-1.568-5.877v-5.66h24.344v5.114zm6.522-12.261c-.8-.82-1.838-1.229-3.11-1.229H4.201c-1 0-1.814.232-2.442.696-.627.464-1.078 1.027-1.351 1.692A5.296 5.296 0 0 0 0 20.421v9.716c0 2.802.454 5.394 1.365 7.778.909 2.383 2.215 4.421 3.916 6.113 1.7 1.692 3.743 2.989 6.126 3.89 2.384.9 5.03 1.35 7.942 1.35 3.111 0 5.927-.432 8.447-1.297 2.52-.864 4.667-2.137 6.441-3.82 1.774-1.683 3.142-3.748 4.107-6.195.965-2.447 1.446-5.236 1.446-8.365v-9.28c0-1.237-.4-2.264-1.2-3.082zM7.839 4.7l.922.594-.84.497a2.553 2.553 0 0 0 2.598 4.396l4.404-2.602a2.554 2.554 0 0 0 .083-4.346L10.6.406A2.553 2.553 0 1 0 7.84 4.701"></path>
        </g>
      </svg>
    </div>
     <h3 _ngcontent-c1="" style="margin: 10px auto 20px;text-align: center;color: #333841;font-size: 14px;font-family: VAGRounded;font-weight: bold;margin-top: 5.4px;margin-bottom: 13px;width: 112px;height: 17px; margin-left: 27px;">
      {{welcomeModalValue.title}}
     </h3>
     <p _ngcontent-c1="" style="
    font-size: 10px;
    font-family: VAGRounded;
    margin-top: 11px;
    height: 45px;
">
      {{welcomeModalValue.copytext}}
     </p>
     <form _ngcontent-c1="" class="ng-untouched ng-pristine ng-valid" id="delightme-sidebar-modal-form" novalidate="" style="width: 96%; max-width: 390px; position: relative; margin: auto;">
     <div _ngcontent-c1="" style="text-align: center;margin-top: 8px;">
        <label _ngcontent-c1="" style="display: block;width: 260px;margin: 10px auto;text-align: left;color: #8993a4;font-size: 9px;font-weight: 500;height: 5px;margin-top: 15px;margin-bottom: 6px;">Your lovely email</label>
         <input _ngcontent-c1="" id="delightme-sidebar-modal-subscribe-email" placeholder="yourname@mail.com" style="width: 170px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;-o-box-sizing: border-box;box-sizing: border-box;border: none;background-color: #fff;border: 1px solid #d9e3f6;border-radius: 3px;padding: 10px;margin-bottom: 20px;height: 26px;color: #99a4b5;font-family: VAGRounded;font-size: 11px;outline: none;margin-top: 1px;" type="text">
      <div _ngcontent-c1="" style="clear: both"></div>
        <button _ngcontent-c1="" id="delightme-sidebar-modal-subscribe-submit" style="/* margin-bottom: 10px; */-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;-o-box-sizing: border-box;box-sizing: border-box;-webkit-transition: background-color 0.2s;-moz-transition: background-color 0.2s;-ms-transition: background-color 0.2s;-o-transition: background-color 0.2s;transition: background-color 0.2s;width: 170px;height: 26px;/* height: 35px; */background-color: #333841;font-family: VAGRounded;font-weight: bold;line-height: 36px;color: #fff;outline: none;padding: 0px;margin-top: -11px;cursor: pointer;font-size: 13px;" type="submit">
           <span style="position: relative;top: -3px;left: -3px;">{{welcomeModalValue.button}}</span>
      </button>
        </div>
      <p _ngcontent-c1="" id="delightme-sidebar-no-email-error-label" style="position: absolute;margin: 0 auto;left: 0;right: 0;bottom: -8px;text-align: center;opacity: 0;color: #ee2c29;font-size: 9px; font-family:VAGRounded">Email is required</p>
      <p _ngcontent-c1="" id="delightme-sidebar-wrong-email-error-label" style="position: absolute;margin: 0 auto;left: 0;right: 0;bottom: -8px;text-align: center;opacity: 0;color: #ee2c29; font-family: VAGRounded; ;;;font-size: 9px;;;;">Wrong email format</p>
     </form>
    </div>
    </div>

  </div>

  <div class="right-side">
   <nav class="my-nav">
  <div class=""> 
    <ul class="nav navbar-nav pad-bottom">
      <li (click)="welcome(true)"><a class="welcome active" id="welcomeId">Welcome</a></li>
      <li (click)="myprice(true)"><a class="my-price" id="mypriceId">My Price</a></li>
       <li (click)="pricedrop(true)"><a class="price-drop" id="pricedropId" >Price Drop</a></li>
    </ul>
  </div>
</nav> 
    <div class="right-side-top">
      <h3 class="right-side-title">DESIGN SETTINGS</h3>
      <p class="reset" (click)="loadDefaultConfiguration()">Reset to Default</p>
    </div>

    <form class="myform" [formGroup]="sidebarPriceDrop" *ngIf="priceDropShow">
      <div class="form-group">
        <label class="form-control-label" for="formGroupExampleInput">Background Color</label>
        <input class="form-control color-picker-input" [(colorPicker)]="color" [attr.value]="color" cpPosition="bottom" (ngModelChange)="onChangeBgColorPriceDrop($event);updateBgColor($event)" formControlName="backgroundColor">
        <div *ngIf="sidebarPriceDrop.get('backgroundColor').hasError('pattern')"
                 class="alert alert-danger"> Enter correct HEX code.
              </div>
      </div>
      <div class="form-group">
        <label class="form-control-label" for="formGroupExampleInput2">Active Color</label>
        <input class="form-control color-picker-input" [(colorPicker)]="color2" [attr.value]="color2" cpPosition="bottom" (ngModelChange)="onChangeActiveColorPriceDrop($event);updateActiveColor($event)" formControlName="activeColor">
        <div *ngIf="sidebarPriceDrop.get('activeColor').hasError('pattern')"
                 class="alert alert-danger"> Enter correct HEX code.
              </div>
      </div>
      <div class="form-group">
        <label class="form-control-label" for="formGroupExampleInput2">Notification Color</label>
        <input class="form-control color-picker-input" [(colorPicker)]="color3" [attr.value]="color3" cpPosition="bottom" (ngModelChange)="onChangenotificationColor($event)" formControlName="notificationColor">
        <div *ngIf="sidebarPriceDrop.get('notificationColor').hasError('pattern')"
                 class="alert alert-danger"> Enter correct HEX code.
              </div>
      </div>
      
      <div class="clearfix">
        <h3 class="right-side-title underline text-fix" (click)="pricetextsetting()">TEXT SETTINGS</h3>
      </div>
      <div class="form-group" [hidden]="!priceDroptext">
        <label class="form-control-label" for="formGroupExampleInput">Heading</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Congratulations" (ngModelChange)="onChangePriceDropHeading($event)" formControlName="heading">
      </div>
         <div *ngIf="sidebarPriceDrop.get('heading').hasError('required') && sidebarPriceDrop.get('heading').touched"
             class="alert alert-danger"> Button Text is required.
          </div>
          <div *ngIf="!sidebarPriceDrop.get('heading').valid && !sidebarPriceDrop.get('heading').hasError('required')"
             class="alert alert-danger"> Heading should me less than 30.
          </div>
      <div class="form-group" [hidden]="!priceDroptext">
        <label for="exampleFormControlTextarea1">Copy text</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="You have just unlocked additional discounts. Keep shopping to get more exciting prices!" (ngModelChange)="onChangePriceDropCopytext($event)" formControlName="copytext"></textarea>
      </div>
        <div *ngIf="sidebarPriceDrop.get('copytext').hasError('required') && sidebarPriceDrop.get('copytext').touched"
             class="alert alert-danger"> Copy Text is required.
          </div>

            <div class="btns-wrap">
            <div class="btn back"  (click)="back(3)">
              <svg width="120px" height="40px" viewBox="0 0 120 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Onboarding-—-UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="04-onboarding-customize-sidebar-1-expand" transform="translate(-990.000000, -745.000000)">
                      <g id="Editor" transform="translate(960.000000, 50.000000)">
                        <g id="BTTNS" transform="translate(0.000000, 680.000000)">
                          <g id="btns" transform="translate(29.000000, 15.000000)">   
                            <text fill="#172b4d" font-family="VAGRounded" font-size="18">
                              <tspan x="50" y="25">Back</tspan>
                            </text>
                            <g id="btn-copy">
                              <g id="Rectangle">
                                <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                                <path stroke="#D9E3F6" stroke-width="1" d="M18.6980044,0.5 C17.0021224,0.5 15.4010722,1.28234658 14.3589553,2.62025846 L2.01825159,18.4637538 C1.31464499,19.3670725 1.31464499,20.6329275 2.01825159,21.5362462 L14.3589553,37.3797415 C15.4010722,38.7176534 17.0021224,39.5 18.6980044,39.5 L118,39.5 C119.380712,39.5 120.5,38.3807119 120.5,37 L120.5,3 C120.5,1.61928813 119.380712,0.5 118,0.5 L18.6980044,0.5 Z"></path>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
            </div>
            <div class="btn next" [ngClass]="{disabled: sidebarPriceDrop._status=='INVALID'}" (click)="onSubmitForm(3,sidebarPriceDrop._status=='INVALID')">
              <svg width="120px" height="40px" viewBox="0 0 120 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Onboarding-—-UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="04-onboarding-customize-sidebar-1-expand" transform="translate(-1130.000000, -745.000000)" fill="#3FD17F">
                      <g id="Editor" transform="translate(960.000000, 50.000000)">
                        <g id="BTTNS" transform="translate(0.000000, 680.000000)">
                          <g id="btns" transform="translate(29.000000, 15.000000)"> 
                            <g id="btn" transform="translate(141.000000, 0.000000)">
                              <path d="M17.7074578,6.96219663e-15 L117.009453,-7.10544174e-15 L117.009453,-7.54951657e-15 C118.666308,-1.52117867e-14 120.009453,1.34314575 120.009453,3 L120.009453,37 L120.009453,37 C120.009453,38.6568542 118.666308,40 117.009453,40 L17.7074578,40 L17.7074578,40 C15.8574047,40 14.1108045,39.146531 12.9739497,37.6869908 L0.633245943,21.8434954 L0.633245943,21.8434954 C-0.211081981,20.759513 -0.211081981,19.240487 0.633245943,18.1565046 L12.9739497,2.31300923 L12.9739497,2.31300923 C14.1108045,0.853469 15.8574047,6.42391858e-15 17.7074578,4.4408921e-15 Z" id="Rectangle" transform="translate(60.004727, 20.000000) rotate(-180.000000) translate(-60.004727, -20.000000) "></path>
                            </g>
                            <text fill="#FFFFFF" font-family="VAGRounded" font-size="18">
                              <tspan x="179" y="26">Next</tspan>
                            </text>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
              </svg>
            </div>
    </div>
    </form> 

    <form class="myform"  [formGroup]="sidebarMyprice" *ngIf="myPriceShow">
      <div class="form-group">
        <label class="form-control-label" for="formGroupExampleInput">Background Color</label>
        <input class="form-control color-picker-input" [(colorPicker)]="color" [attr.value]="color" cpPosition="bottom" formControlName="backgroundColor" (ngModelChange)="onChangebgColorMyPrice($event);updateBgColor($event)">
           <div *ngIf="sidebarMyprice.get('backgroundColor').hasError('pattern')"
                 class="alert alert-danger"> Enter correct HEX code.
              </div>
      </div>
      <div class="form-group">
        <label class="form-control-label" for="formGroupExampleInput2">Active Color</label>
        <input class="form-control color-picker-input" [(colorPicker)]="color1" [attr.value]="color1" cpPosition="bottom" formControlName="activeColor" (ngModelChange)="onChangeActiveColorMyPrice($event);updateActiveColor($event)">
           <div *ngIf="sidebarMyprice.get('activeColor').hasError('pattern')"
                 class="alert alert-danger"> Enter correct HEX code.
              </div>
      </div>      
      <div class="clearfix">
        <h3 class="right-side-title underline" (click)="mypricetextsetting()">TEXT SETTINGS</h3>
      </div>
      <div class="form-group" [hidden]="!mypricetext">
        <label class="form-control-label" for="formGroupExampleInput">Heading</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Your Secret Price" formControlName="title" (ngModelChange)="onChangeTitleMyPrice($event)">
      </div>
         <div *ngIf="sidebarMyprice.get('title').hasError('required') && sidebarMyprice.get('title').touched"
             class="alert alert-danger"> Button Text is required.
          </div>
          <div *ngIf="!sidebarMyprice.get('title').valid && !sidebarMyprice.get('title').hasError('required')"
             class="alert alert-danger"> Heading should me less than 30.
          </div>
      <div class="form-group" [hidden]="!mypricetext">
        <label for="exampleFormControlTextarea1">Copy text</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="There are secret deals that apply just for you.The more you buy -the more delightful price you get." formControlName="copytext" (ngModelChange)="onChangeCopytextMyPrice($event)"></textarea>
      </div>
        <div *ngIf="sidebarMyprice.get('copytext').hasError('required') && sidebarMyprice.get('copytext').touched"
             class="alert alert-danger"> Copy Text is required.
          </div>
               <div class="btns-wrap">
                <div class="btn back"  (click)="back(2)">
                  <svg width="120px" height="40px" viewBox="0 0 120 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Onboarding-—-UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="04-onboarding-customize-sidebar-1-expand" transform="translate(-990.000000, -745.000000)">
                      <g id="Editor" transform="translate(960.000000, 50.000000)">
                        <g id="BTTNS" transform="translate(0.000000, 680.000000)">
                          <g id="btns" transform="translate(29.000000, 15.000000)">   
                            <text fill="#172b4d" font-family="VAGRounded" font-size="18">
                              <tspan x="50" y="25">Back</tspan>
                            </text>
                            <g id="btn-copy">
                              <g id="Rectangle">
                                <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                                <path stroke="#D9E3F6" stroke-width="1" d="M18.6980044,0.5 C17.0021224,0.5 15.4010722,1.28234658 14.3589553,2.62025846 L2.01825159,18.4637538 C1.31464499,19.3670725 1.31464499,20.6329275 2.01825159,21.5362462 L14.3589553,37.3797415 C15.4010722,38.7176534 17.0021224,39.5 18.6980044,39.5 L118,39.5 C119.380712,39.5 120.5,38.3807119 120.5,37 L120.5,3 C120.5,1.61928813 119.380712,0.5 118,0.5 L18.6980044,0.5 Z"></path>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
                </div>
                <div class="btn next" [ngClass]="{disabled: sidebarMyprice._status=='INVALID'}" (click)="onSubmitForm(2,sidebarMyprice._status=='INVALID')">
                  <svg width="120px" height="40px" viewBox="0 0 120 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Onboarding-—-UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="04-onboarding-customize-sidebar-1-expand" transform="translate(-1130.000000, -745.000000)" fill="#3FD17F">
                      <g id="Editor" transform="translate(960.000000, 50.000000)">
                        <g id="BTTNS" transform="translate(0.000000, 680.000000)">
                          <g id="btns" transform="translate(29.000000, 15.000000)"> 
                            <g id="btn" transform="translate(141.000000, 0.000000)">
                              <path d="M17.7074578,6.96219663e-15 L117.009453,-7.10544174e-15 L117.009453,-7.54951657e-15 C118.666308,-1.52117867e-14 120.009453,1.34314575 120.009453,3 L120.009453,37 L120.009453,37 C120.009453,38.6568542 118.666308,40 117.009453,40 L17.7074578,40 L17.7074578,40 C15.8574047,40 14.1108045,39.146531 12.9739497,37.6869908 L0.633245943,21.8434954 L0.633245943,21.8434954 C-0.211081981,20.759513 -0.211081981,19.240487 0.633245943,18.1565046 L12.9739497,2.31300923 L12.9739497,2.31300923 C14.1108045,0.853469 15.8574047,6.42391858e-15 17.7074578,4.4408921e-15 Z" id="Rectangle" transform="translate(60.004727, 20.000000) rotate(-180.000000) translate(-60.004727, -20.000000) "></path>
                            </g>
                            <text fill="#FFFFFF" font-family="VAGRounded" font-size="18">
                              <tspan x="179" y="26">Next</tspan>
                            </text>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
              </svg>
                </div>
              </div>
    </form>

    <form class="myform" [formGroup]="sidebarWelcome" *ngIf="welcomeShow">
      <div class="form-group">
        <label class="form-control-label" for="formGroupExampleInput">Background Color</label>
        <input class="form-control color-picker-input" [(colorPicker)]="color" [attr.value]="color" cpPosition="bottom" formControlName="backgroundColor" (ngModelChange)="onChangebgColorWelcome($event);updateBgColor($event)">
              <div *ngIf="sidebarWelcome.get('backgroundColor').hasError('pattern')"
                 class="alert alert-danger"> Enter correct HEX code.
              </div>
      </div>
      <div class="form-group">
        <label class="form-control-label" for="formGroupExampleInput2">Active Color</label>
        <input class="form-control color-picker-input" [(colorPicker)]="color1" [attr.value]="color1" cpPosition="bottom" formControlName="activeColor" (ngModelChange)="onChangeactiveColorWelcome($event);updateActiveColor($event)">
              <div *ngIf="sidebarWelcome.get('activeColor').hasError('pattern')"
                 class="alert alert-danger"> Enter correct HEX code.
              </div>
      </div>
      
      <div class="clearfix">
        <h3 class="right-side-title underline" (click)="welcometextsetting()">TEXT SETTINGS</h3>
      </div>
      <div class="form-group" [hidden]="!welcomemodal">
        <label class="form-control-label" for="formGroupExampleInput">Title</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nice to meet you." formControlName="title" (ngModelChange)="onChangetitle($event,1)">
      </div>
         <div *ngIf="sidebarWelcome.get('title').hasError('required') && sidebarWelcome.get('title').touched"
             class="alert alert-danger"> Title is required.
          </div>
       <div class="form-group" [hidden]="!welcomemodal">
        <label class="form-control-label" for="formGroupExampleInput">Button</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Unlock your secret prices" formControlName="button" (ngModelChange)="onChangebutton($event)">
      </div>
         <div *ngIf="sidebarWelcome.get('button').hasError('required') && sidebarWelcome.get('button').touched"
             class="alert alert-danger"> Button Text is required.
          </div>
          <div *ngIf="!sidebarWelcome.get('button').valid && !sidebarWelcome.get('button').hasError('required')"
             class="alert alert-danger"> Button Text should me less than 30.
          </div>
      <div class="form-group" [hidden]="!welcomemodal">
        <label for="exampleFormControlTextarea1">Copy text</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="There are secret deals that apply just for you.The more you buy -the more delightful price you get." formControlName="copytext" (ngModelChange)="onChangeCopyText($event,1)"></textarea>
      </div>
        <div *ngIf="sidebarWelcome.get('copytext').hasError('required') && sidebarWelcome.get('copytext').touched"
             class="alert alert-danger"> Copy Text is required.
          </div>

        <div class="btns-wrap">
          <div class="btn back" (click)="back(1)">
            <svg width="120px" height="40px" viewBox="0 0 120 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Onboarding-—-UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="04-onboarding-customize-sidebar-1-expand" transform="translate(-990.000000, -745.000000)">
                      <g id="Editor" transform="translate(960.000000, 50.000000)">
                        <g id="BTTNS" transform="translate(0.000000, 680.000000)">
                          <g id="btns" transform="translate(29.000000, 15.000000)">   
                            <text fill="#172b4d" font-family="VAGRounded" font-size="18">
                              <tspan x="50" y="25">Back</tspan>
                            </text>
                            <g id="btn-copy">
                              <g id="Rectangle">
                                <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                                <path stroke="#D9E3F6" stroke-width="1" d="M18.6980044,0.5 C17.0021224,0.5 15.4010722,1.28234658 14.3589553,2.62025846 L2.01825159,18.4637538 C1.31464499,19.3670725 1.31464499,20.6329275 2.01825159,21.5362462 L14.3589553,37.3797415 C15.4010722,38.7176534 17.0021224,39.5 18.6980044,39.5 L118,39.5 C119.380712,39.5 120.5,38.3807119 120.5,37 L120.5,3 C120.5,1.61928813 119.380712,0.5 118,0.5 L18.6980044,0.5 Z"></path>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
          </div>
          <div class="btn next" [ngClass]="{disabled: sidebarWelcome._status=='INVALID'}" (click)="onSubmitForm(1,sidebarWelcome._status=='INVALID')">
            <svg width="120px" height="40px" viewBox="0 0 120 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Onboarding-—-UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="04-onboarding-customize-sidebar-1-expand" transform="translate(-1130.000000, -745.000000)" fill="#3FD17F">
                      <g id="Editor" transform="translate(960.000000, 50.000000)">
                        <g id="BTTNS" transform="translate(0.000000, 680.000000)">
                          <g id="btns" transform="translate(29.000000, 15.000000)"> 
                            <g id="btn" transform="translate(141.000000, 0.000000)">
                              <path d="M17.7074578,6.96219663e-15 L117.009453,-7.10544174e-15 L117.009453,-7.54951657e-15 C118.666308,-1.52117867e-14 120.009453,1.34314575 120.009453,3 L120.009453,37 L120.009453,37 C120.009453,38.6568542 118.666308,40 117.009453,40 L17.7074578,40 L17.7074578,40 C15.8574047,40 14.1108045,39.146531 12.9739497,37.6869908 L0.633245943,21.8434954 L0.633245943,21.8434954 C-0.211081981,20.759513 -0.211081981,19.240487 0.633245943,18.1565046 L12.9739497,2.31300923 L12.9739497,2.31300923 C14.1108045,0.853469 15.8574047,6.42391858e-15 17.7074578,4.4408921e-15 Z" id="Rectangle" transform="translate(60.004727, 20.000000) rotate(-180.000000) translate(-60.004727, -20.000000) "></path>
                            </g>
                            <text fill="#FFFFFF" font-family="VAGRounded" font-size="18">
                              <tspan x="179" y="26">Next</tspan>
                            </text>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
              </svg>
          </div>
        </div>
    </form>

  </div>

</div>
