.img-full{
  width: 100%;
  height: 53.59em;  
}
.carousel-img{
  top: -2px;
}
select.form-control:not([size]):not([multiple]) {
    height: 3.5rem;
}

#welcome-modal-page {
  height: calc(100% - 50px);
  min-height: 750px;
  position: relative;
  background-color: #f5f8fb;
  text-align: center;
}

.welcome-page-title {
  font-size: 42px;
  font-weight: 300;
  color: #ffffff;
  margin: 25px 4px 11px 3px;
  text-shadow: none;
}
.welcome-page-desc {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.36;
  font-family: VAGRounded;
  color: #ffffff;
  opacity: 0.8;
  max-width: 96%;
  margin: 11px 10px;
  text-shadow: none;
}
.left-side {
  width: 75%;
  height: 100%;
  float: left;
  position: relative;
  background-image: url('../../assets/img/mac-workspace.jpg');
  background-size: 232% auto;
  background-position: 52% 35%;
  background-repeat: no-repeat;
}

.right-side {
  width: 25%;
  height: 100%;
  float: left;
  padding: 31px 30px 15px;
  background-color: #fff;
  position: relative;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
  background-color: #fff;
}

.live-view-wrap {
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  max-width: 900px;
}

.mac-img {
  width: 100%;
  max-width: 900px;
}

.right-side-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-side-title {
  padding-bottom: 15px;
  height: 12px;
  margin: 0;
  font-size: 12.8px;
  font-weight: bold;
  font-family: VAGRounded;
  letter-spacing: 2px;
  text-align: left;
  color: #637381;
  &.underline {
    padding-top: 16px;
  }
}

.reset {
  height: 15px;
  margin: 0;
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  color: #8993a4;
  padding-bottom: 2px;
  border-bottom: 1px dotted;
  cursor: pointer;
}

.form-group {
  text-align: left;
  margin-top: 11px;
  margin-bottom: 14px;
  &.before-select, &.before-phone {
    margin-bottom: 12px;
  }
  &.with-select, &.with-phone {
    margin-top: 9px;
  }
}

.text-settings-wrap .form-group {
  margin-bottom: 11px;
}

label,
.form-control-label {
  padding: 0;
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  color: #8993a4;
  margin-bottom: 2px;
}

select.form-control {
  height: 38px !important;
  margin-top: 0;
  padding-left: 10px;
}

.visible-on-label {
  margin-top: 15px;
  margin-bottom: 0;
}

.form-control {
  height: 38px;
  border-radius: 3px;
  border: solid 1px #d9e3f6;
  box-shadow: none !important;
  font-size: 14px;
  width: 100%;
  font-weight: 300;
  line-height: 1.36;
  color: #172b4d;
  &[type='color'] {
    padding: 4px 12px;
  }
  &::-webkit-input-placeholder {
    font-family: "VAGRounded", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.36;
    color: #172b4d;
    opacity: 0.3;
  }
  &::-moz-placeholder {
    font-family: "VAGRounded", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.36;
    color: #172b4d;
    opacity: 0.3;
  }
  &:-ms-input-placeholder {
    font-family: "VAGRounded", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.36;
    color: #172b4d;
    opacity: 0.3;
  }
  &:-moz-placeholder {
    font-family: "VAGRounded", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.36;
    color: #172b4d;
    opacity: 0.3;
  }
}

textarea {
  resize: none;
  height: 74px !important;
}

.form-check-inline {
  display: inline-block;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.form-check-label {
  font-size: 14px;
}

.form-check-input {
  width: 18px;
  height: 14px;
  margin-top: 0;
  margin-right: 3px;
}

.visible-on-wrap {
  text-align: left;
}

.btns-wrap {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 16px;
  width: calc(100% - 60px);
  margin: auto;
  right: 0;
  left: 0;
}

.btn {
  height: 40px;
  padding: 0;
  cursor: pointer;
}

.btn-back {
  margin-right: 20px;
}

#delightme-welcome-subscribe-email::-webkit-input-placeholder {
  font-family: "SFUIDisplay", "Helvetica Neue", sans-serif;
  font-size: 11px;
  font-weight: 300;
  color: #172b4d;
  opacity: 0.2;
}
#delightme-welcome-subscribe-email::-moz-placeholder {
  font-family: "SFUIDisplay", "Helvetica Neue", sans-serif;
  font-size: 11px;
  font-weight: 300;
  color: #172b4d;
  opacity: 0.2;
}
#delightme-welcome-subscribe-email:-ms-input-placeholder {
  font-family: "SFUIDisplay", "Helvetica Neue", sans-serif;
  font-size: 11px;
  font-weight: 300;
  color: #172b4d;
  opacity: 0.2;
}
#delightme-welcome-subscribe-email:-moz-placeholder {
  font-family: "SFUIDisplay", "Helvetica Neue", sans-serif;
  font-size: 11px;
  font-weight: 300;
  color: #172b4d;
  opacity: 0.2;
}

::-webkit-color-swatch-wrapper {
  width: 24px;
  padding: 0;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #d9e3f6;
}
::-moz-placeholder {
  width: 24px;
  padding: 0;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #d9e3f6;
}
:-ms-input-placeholder {
  width: 24px;
  padding: 0;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #d9e3f6;
}
:-moz-placeholder {
  width: 24px;
  padding: 0;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #d9e3f6;
}
.welcome{
    font-family : VAGRounded;
    font-size : 14px;
    font-weight : bold;
    letter-spacing : 0.5px;
    text-align : center;
    color : #637381;
  }
 .my-price{
    font-family : VAGRounded;
    font-size : 14px;
    font-weight : bold;
    letter-spacing : 0.5px;
    text-align : center;
    color : #637381;
  }
.welcome .text-style-1{
  letter-spacing : normal
}
.price-drop{
  font-family : VAGRounded;
  font-size : 14px;
  font-weight : bold;
  letter-spacing : 0.5px;
  text-align : center;
  color : #637381;
  }
 .active {
    border-bottom: 4px solid #2196f3;
    color:#172b4d;
}
.pad-bottom.navbar-nav>li>a{
  padding-bottom:12px;
}
.my-nav{
    width: 114%;
    margin-left: -17px;
    margin-top: -80px;
    margin-bottom: 23px;
}