<div id="welcome-modal-page" class="clearfix">

  <div class="left-side">

   
     <div class="carousel-caption carousel-img" >
      <h1 class="welcome-page-title">Create Store Account</h1>
      <p class="welcome-page-desc">We just need the basics: who you are, how to reach you, and your store details.</p>
    </div>
  
    </div>
  <div class="right-side" *ngIf="showForm">

    <div class="right-side-top">
      <h3 class="right-side-title">STORE DETAILS</h3>
    </div>

    <form [formGroup]="userForm" (ngSubmit)="onSubmitNext()">
      <div class="form-group">
		<label class="form-control-label" for="storename">Your store name</label>
		<input type="text" class="form-control" formControlName="storename" placeholder="for example Amazon">
    <div *ngIf="userForm.get('storename').hasError('required') && userForm.get('storename').touched"
           class="alert alert-danger"> Store name is required.
        </div>
          <div *ngIf="!userForm.get('storename').valid && !userForm.get('storename').hasError('required')"
                 class="alert alert-danger"> Should not be greater than 40.
          </div>
	 </div>
      <div class="form-group">
		<label class="form-control-label" for="storeUrl">Your store URL</label>
		<input type="text" class="form-control" formControlName="storeurl" placeholder="amazon.com">
       <div *ngIf="userForm.get('storeurl').hasError('required') && userForm.get('storeurl').touched"
           class="alert alert-danger"> Store url is required.
        </div>
         <div *ngIf="userForm.get('storeurl').hasError('pattern') && !userForm.get('storeurl').valid"
           class="alert alert-danger"> Store url is invalid.
        </div>
	</div>
      
      <div class="clearfix">
     
        <h3 class="right-side-title underline">PRIMARY CONTACT</h3>
      </div>
      	<div class="form-group">
			<label class="form-control-label" for="name">Your name</label>
			<input type="text" class="form-control" formControlName="name" placeholder="Audrey" maxlength="41">
         <div *ngIf="!userForm.get('name').valid"
                 class="alert alert-danger"> Should not be greater than 40.
         </div>
		</div>
		<div class="form-group before-select">
			<label class="form-control-label" for="lastname">Your last name</label>
			<input type="text" class="form-control" formControlName="lastname" placeholder="Jenkins" maxlength="41">
      <div *ngIf="!userForm.get('lastname').valid"
                 class="alert alert-danger"> Should not be greater than 40.
         </div>
		</div>
		<div class="form-group with-select">
			<label class="form-control-label" for="jobtitle">Your job title</label>
			<select class="form-control form-common del-form-inputs" formControlName="jobtitle">
		      <option value="Chief Executive Officer">Chief Executive Officer</option>
		      <option value="Marketing - Man/Dir/VP/CMO">Marketing - Man/Dir/VP/CMO</option>
		      <option value="Ecommerce – Man/Dir/VP/Exec">Ecommerce - Man/Dir/VP/Exec</option>
		      <option value="Consultant/Agency">Consultant/Agency</option>
		      <option value="Other">Other</option>
		    </select>
         <div *ngIf="userForm.get('jobtitle').hasError('required') && userForm.get('jobtitle').touched"
               class="alert alert-danger"> Job title is required.
            </div>
		</div>
		<div class="form-group before-phone">
			<label class="form-control-label" for="email">Your lovey email</label>
			<input type="email" class="form-control" formControlName="email" placeholder="yourname@mail.com">
         <div *ngIf="userForm.get('email').hasError('required') && userForm.get('email').touched"
               class="alert alert-danger"> Email is required.
            </div>
            <div *ngIf="userForm.get('email').hasError('email') && !userForm.get('email').hasError('required') "
               class="alert alert-danger"> Invalid email.
            </div>
		</div>
		<div class="form-group with-phone">
			<label class="form-control-label" for="phone">Your cool phone</label>
			<input type="text" class="form-control form-common del-form-inputs" formControlName="phone" placeholder="(111) 111-111"  maxlength="10">
			    <div *ngIf="userForm.get('phone').hasError('required') && userForm.get('phone').touched"
                   class="alert alert-danger"> Phone is required.
          </div>
              <div *ngIf="!userForm.get('phone').valid"
                 class="alert alert-danger"> Should be 10 number.
              </div>
		</div>
        <div class="btns-wrap">
	      <div class="btn btn-back" (click)="back()">
          <svg width="120px" height="40px" viewBox="0 0 120 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Onboarding-—-UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="04-onboarding-customize-sidebar-1-expand" transform="translate(-990.000000, -745.000000)">
                      <g id="Editor" transform="translate(960.000000, 50.000000)">
                        <g id="BTTNS" transform="translate(0.000000, 680.000000)">
                          <g id="btns" transform="translate(29.000000, 15.000000)">   
                            <text fill="#172b4d" font-family="VAGRounded" font-size="18">
                              <tspan x="50" y="25">Back</tspan>
                            </text>
                            <g id="btn-copy">
                              <g id="Rectangle">
                                <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                                <path stroke="#D9E3F6" stroke-width="1" d="M18.6980044,0.5 C17.0021224,0.5 15.4010722,1.28234658 14.3589553,2.62025846 L2.01825159,18.4637538 C1.31464499,19.3670725 1.31464499,20.6329275 2.01825159,21.5362462 L14.3589553,37.3797415 C15.4010722,38.7176534 17.0021224,39.5 18.6980044,39.5 L118,39.5 C119.380712,39.5 120.5,38.3807119 120.5,37 L120.5,3 C120.5,1.61928813 119.380712,0.5 118,0.5 L18.6980044,0.5 Z"></path>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
	      </div>
	      <div class="btn btn-next" (click)="onSubmitNext()">
          <svg width="120px" height="40px" viewBox="0 0 120 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Onboarding-—-UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="04-onboarding-customize-sidebar-1-expand" transform="translate(-1130.000000, -745.000000)" fill="#3FD17F">
                      <g id="Editor" transform="translate(960.000000, 50.000000)">
                        <g id="BTTNS" transform="translate(0.000000, 680.000000)">
                          <g id="btns" transform="translate(29.000000, 15.000000)"> 
                            <g id="btn" transform="translate(141.000000, 0.000000)">
                              <path d="M17.7074578,6.96219663e-15 L117.009453,-7.10544174e-15 L117.009453,-7.54951657e-15 C118.666308,-1.52117867e-14 120.009453,1.34314575 120.009453,3 L120.009453,37 L120.009453,37 C120.009453,38.6568542 118.666308,40 117.009453,40 L17.7074578,40 L17.7074578,40 C15.8574047,40 14.1108045,39.146531 12.9739497,37.6869908 L0.633245943,21.8434954 L0.633245943,21.8434954 C-0.211081981,20.759513 -0.211081981,19.240487 0.633245943,18.1565046 L12.9739497,2.31300923 L12.9739497,2.31300923 C14.1108045,0.853469 15.8574047,6.42391858e-15 17.7074578,4.4408921e-15 Z" id="Rectangle" transform="translate(60.004727, 20.000000) rotate(-180.000000) translate(-60.004727, -20.000000) "></path>
                            </g>
                            <text fill="#FFFFFF" font-family="VAGRounded" font-size="18">
                              <tspan x="179" y="26">Next</tspan>
                            </text>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
              </svg>
	      </div>
	    </div>
    </form> 

  </div>

</div>
