header {
  display: flex;
  justify-content: center;
  padding: 12px 0;
  background-color: #ffffff;
  box-shadow: 0 10px 20px 0 rgba(156, 181, 225, 0.2);
  position: relative;
  z-index: 10;
}

h3 {
  margin: 0;
  padding: 13px 0 11px 0;
  color: #3fd17f;
  font-weight: bold;
}

a {
  height: 26px;
}