header {
  display: flex;
  justify-content: space-between;
  padding: 11px 29px 11px 30px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px 0 rgba(156, 181, 225, 0.2);
}

.header-logo {
  display: inline-block;
  height: 26px;
  padding-top: 2px;
}

.mh-account-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.mh-user-name {
  height: 18px;
  line-height: 20px;
  margin: 0;
  font-size: 14.7px;
  font-weight: bold;
  color: #172b4d;
}

.account-logo-cont {
  height: 28px;
  margin-right: 10px;
}

.account-name-cont {
  margin-right: 5px;
}

.account-arr-cont {
  height: 8px;
  line-height: 8px;
}

.mh-account-dropdown {
  width: 147px;
  position: absolute;
  top: 60px;
  right: 10px;
  z-index: 10000;
  &:before {
    content: '';
    display: inline-block;
    background-color: #fff;
    position: absolute;
    top: -4px;
    right: 19px;
    z-index: 0;
    width: 8px;
    height: 8px;
    border-top-left-radius: 2px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.mh-account-dropdown-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 7px 14px 0 rgba(156, 181, 225, 0.2);
}

.mh-account-dropdown-list-item {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  color: #212b36;
  position: relative;
  z-index: 10;
  &:first-child a {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  &.sign-out {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    cursor: pointer;
  }
}

.mh-account-dropdown-list-item-link,
.sign-out {
  display: inline-block;
  width: 100%;
  padding: 11px 16px 9px 16px;
  background-color: #ffffff;
  color: #212b36;
  text-decoration: none;
  &:hover {
    color: #fff;
    background-color: #3fd17f;
  }
}