/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'VAGRounded', Arial, sans-serif;
}

@font-face {
  font-family: 'VAGRounded';
  src: url('./assets/font/vag-rounded.eot');
  src: url('./assets/font/vag-rounded.eot?#iefix') format('embedded-opentype'),
       url('./assets/font/vag-rounded.woff2') format('woff2'),
       url('./assets/font/vag-rounded.woff') format('woff'),
       url('./assets/font/vag-rounded.ttf') format('truetype'),
       url('./assets/font/vag-rounded.svg#webfontregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.full {
	height: 90%;
}

input.ng-invalid.form-control {
  border: 1px solid #f6380f;
}

div.alert-danger {
  font-family: VAGRounded;
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  color: #f5390f;
  padding: 0;
  background: none;
  border: none;
  margin-bottom: 0;
  margin-top: 5px;
}

.my-nav {
  border-bottom: 1px solid #d9e3f6;
  a {
    cursor: pointer;
  }
  a:not(.active):hover {
    border-bottom: 4px solid #eee;
  }
}

.color-picker-input {
    padding-left: 36px;
}

// DelightMe buttons styles start

button {
  border: none;
  background: none;
  text-align: center;
  outline: none;
  cursor: pointer;
}

.dm-btn-primary {
  background-color: #3fd17f;
  font-weight: bold;
  color: #ffffff;
}

.dm-btn-secondary {
  border: 1px solid #d9e3f6;
  font-weight: 300;
  color: #333841;
  &.white-text {
    color: #ffffff;
  }
}

.dm-btn-action {
  width: 70px;
  height: 26px;
  border-radius: 2px;
  background-color: #d9e3f6;
  color: #172b4d;
  font-size: 13px;
}

.dm-btn-activated {
  background-color: transparent;
  color: #8993a4;
}

.btns-wrap {
  display: flex;
  justify-content: center;
  button:first-child {
    margin-right: 20px;
  }
}

// DelightMe buttons styles end