<div id="home-page">

  <h1 class="home-page-title">Raise your pricing game!</h1>
  <p class="home-page-desc">Establish your dynamic pricing model in a simple three-step<br> process. It only takes 5-7 min.</p>

  <div class="home-steps-wrap">
    <div class="home-step-block">
      <div class="home-step-icon-cont">
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="54" viewBox="0 0 60 54">
          <g fill="#172B4D" fill-rule="nonzero">
            <path d="M39.589 53.895H20.41v-6.352h2.168v4.184h14.84v-4.184h2.17z"/>
            <path d="M16.642 51.727h26.717v2.169H16.642zM60 41.45H0V3.23c0-.832.324-1.616.912-2.208A3.116 3.116 0 0 1 3.126.105h53.748a3.09 3.09 0 0 1 2.21.917c.591.592.916 1.376.916 2.208v38.22zM2.169 39.281H57.83V3.23a.956.956 0 0 0-.957-.957H3.126a.957.957 0 0 0-.957.957V39.28z"/>
            <path d="M56.874 48.252H3.125c-.84 0-1.627-.326-2.213-.918A3.092 3.092 0 0 1 0 45.127v-5.846h60v5.846a3.1 3.1 0 0 1-.919 2.212 3.084 3.084 0 0 1-2.207.913zM2.169 41.45v3.677c0 .257.099.496.278.675.182.184.42.281.678.281h53.749a.935.935 0 0 0 .672-.275.952.952 0 0 0 .285-.68V41.45H2.17zM49.177 21.834a4.91 4.91 0 0 1-3.835-1.842 4.912 4.912 0 0 1-7.672 0 4.912 4.912 0 0 1-7.67 0 4.915 4.915 0 0 1-7.67 0 4.912 4.912 0 0 1-7.672 0 4.912 4.912 0 0 1-3.835 1.842 4.925 4.925 0 0 1-4.92-4.92V6.129h48.193v10.785a4.926 4.926 0 0 1-4.92 4.92zm-2.75-4.92a2.754 2.754 0 0 0 2.75 2.751 2.754 2.754 0 0 0 2.75-2.751V8.298H8.073v8.616a2.754 2.754 0 0 0 2.751 2.751 2.754 2.754 0 0 0 2.75-2.751h2.17a2.754 2.754 0 0 0 2.75 2.751 2.754 2.754 0 0 0 2.752-2.751h2.168a2.754 2.754 0 0 0 2.75 2.751 2.755 2.755 0 0 0 2.752-2.751h2.169a2.754 2.754 0 0 0 2.75 2.751 2.754 2.754 0 0 0 2.751-2.751h2.169a2.754 2.754 0 0 0 2.751 2.751 2.754 2.754 0 0 0 2.752-2.751h2.17zM16.386 35.426H6.024V25.064h10.362v10.362zm-8.193-2.169h6.024v-6.024H8.193v6.024zM21.968 33.257h32.129v2.169H21.968zM21.968 25.064h16.064v2.169H21.968zM21.968 29.161h32.129v2.169H21.968z"/>
          </g>
        </svg>
      </div>
      <h3 class="home-step-title">Create Store Account</h3>
      <p class="home-step-desc">We just need the basics: who you are, how to reach you and your store details.</p>
      <div class="step-end-rect-top step-end-rect step-rect"></div>
      <div class="step-end-rect-bottom step-end-rect step-rect"></div>
    </div>
    <div class="home-step-block">
      <div class="step-start-rect-top step-start-rect step-rect"></div>
      <div class="step-start-rect-bottom step-start-rect step-rect"></div>
      <div class="home-step-icon-cont">
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="54" viewBox="0 0 60 54">
          <g fill="#172B4D" fill-rule="nonzero">
            <path d="M60 53.91H0V6.12h60v47.79zM2.169 51.74H57.83V8.288H2.17V51.74z"/>
            <path d="M60 8.287H0V.09h60v8.197zM2.169 7.32H57.83V2.26H2.17v5.06z"/>
            <path d="M4.94 3.105h2.169v2.169H4.94zM9.277 3.105h2.169v2.169H9.277zM13.614 3.105h2.169v2.169h-2.169z"/>
            <g>
              <path d="M44.672 38.581V48.97H55.06V38.58H44.672zm8.22 8.22h-6.05v-6.05h6.05v6.05zM44.672 24.82v10.388H55.06V24.82H44.672zm8.22 8.22h-6.05v-6.051h6.05v6.05zM44.672 11.059v10.388H55.06V11.059H44.672zm8.22 8.219h-6.05v-6.05h6.05v6.05zM4.94 11.059v24.149h32.985v-24.15H4.94zm30.817 21.98H7.109V13.228h28.648v19.811z"/>
              <g transform="translate(10.5 15.6)">
                <path d="M18.835 4.036l-2.816 7.244H7.242L3.734 2.254H.296V.064h4.935L8.74 9.09h5.782l1.962-5.054z"/>
                <path d="M9.446 5.089h4.367v2.19H9.446zM9.744 13.69a1.315 1.315 0 1 1-2.63-.002 1.315 1.315 0 0 1 2.63.001z"/>
                <circle cx="14.831" cy="13.689" r="1.314"/>
              </g>
              <path d="M4.94 46.681h32.986v2.169H4.94zM4.94 42.692h32.986v2.169H4.94zM4.94 38.703h16.493v2.169H4.94z"/>
            </g>
          </g>
        </svg>
      </div>
      <h3 class="home-step-title">Customize Experience</h3>
      <p class="home-step-desc">Make look and feel of Delight Me<br> Cart and other components match your visual identity.</p>
      <div class="step-end-rect-top step-end-rect step-rect"></div>
      <div class="step-end-rect-bottom step-end-rect step-rect"></div>
    </div>
    <div class="home-step-block">
      <div class="step-start-rect-top step-start-rect step-rect"></div>
      <div class="step-start-rect-bottom step-start-rect step-rect"></div>
      <div class="home-step-icon-cont">
        <svg xmlns="http://www.w3.org/2000/svg" width="53" height="54" viewBox="0 0 53 54">
          <g fill="#172B4D" fill-rule="nonzero">
            <path d="M18.862 19.404H.275V11.18h15.25v1.935H2.21v4.354h16.65zM52.525 19.404H34.838v-1.935h15.751v-4.354H36.675V11.18h15.85z"/>
            <path d="M5.436 14.324h1.935v1.936H5.436zM9.307 14.324h1.936v1.936H9.307zM13.178 14.324h1.936v1.936h-1.936zM52.525 54H.275V17.537h1.936v34.528h48.378V17.537h1.936z"/>
            <path d="M17.531 34.724H5.436V22.629h12.095v12.095zm-10.16-1.936h8.224v-8.224H7.371v8.224zM47.364 34.724H35.27V22.629h12.094v12.095zm-10.16-1.936h8.225v-8.223h-8.224v8.223zM5.436 46.676h12.095v1.936H5.436zM5.436 42.483h12.095v1.936H5.436zM5.436 38.291h12.095v1.936H5.436z"/>
            <g>
              <path d="M35.269 46.676h12.095v1.936H35.269zM35.269 42.483h12.095v1.936H35.269zM35.269 38.291h12.095v1.936H35.269z"/>
            </g>
            <g>
              <path d="M20.352 46.676h12.096v1.936H20.352zM20.352 42.483h12.096v1.936H20.352zM20.352 38.291h12.096v1.936H20.352z"/>
            </g>
            <g>
              <path d="M26.4 35.84l-9.874-18.595a11.414 11.414 0 0 1-1.576-5.796C14.95 5.137 20.087 0 26.4 0c6.314 0 11.45 5.136 11.45 11.45 0 2.041-.547 4.047-1.58 5.8L26.4 35.84zm0-33.904c-5.246 0-9.514 4.268-9.514 9.514 0 1.702.457 3.374 1.321 4.835l.027.05L26.4 31.712l8.194-15.428a9.504 9.504 0 0 0 1.32-4.835c0-5.247-4.268-9.514-9.514-9.514z"/>
              <path d="M30.536 5.943l1.37 1.368-9.643 9.646-1.37-1.369zM29.404 17.24a2.79 2.79 0 0 1-2.785-2.788 2.788 2.788 0 0 1 2.785-2.785 2.789 2.789 0 0 1 2.785 2.785 2.79 2.79 0 0 1-2.785 2.787zm0-3.637a.85.85 0 1 0 .002 1.7.85.85 0 0 0-.002-1.7zM23.397 11.232a2.79 2.79 0 0 1-2.786-2.787 2.79 2.79 0 0 1 2.786-2.786 2.789 2.789 0 0 1 2.786 2.786 2.79 2.79 0 0 1-2.786 2.787zm0-3.637a.851.851 0 1 0 .002 1.702.851.851 0 0 0-.002-1.703z"/>
            </g>
          </g>
        </svg>
      </div>
      <h3 class="home-step-title">Customer Loyalty Discounts</h3>
      <p class="home-step-desc">Define ground rules and special recipes. We will advise you with<br> the best options.</p>
    </div>
  </div>
  
  <div class="terms-form-wrap">
    <div class="terms-message-tooltip" [class.visible]="showErrTooltip && !termsAccepted">
      <div class="arrow"></div>
      <h4 class="terms-message-title">Uh oh!</h4>
      <p class="terms-message-desc">Please accept the Terms of Use in order to proceed.</p>
    </div>
    <a class="get-started-btn" [class.valid]="termsAccepted" (click)="validateStep()">Get Started!</a>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" (change)="termsAccepted = !termsAccepted" checked="checked">
        I agree to the <a href="http://delightme.io/terms" class="terms-link">Terms of Use</a>
      </label>
    </div>
  </div>

  <img src="./assets/img/macbook-cropped.png" alt="Macbook" class="mac-img">

</div>