#home-page {
  height: calc(100% - 50px);
  min-height: 750px;
  position: relative;
  background-color: #f5f8fb;
  padding-top: 22px;
  text-align: center;
}

.home-page-title {
  font-size: 42px;
  font-weight: 300;
  color: #172b4d;
}

.home-page-desc {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.46;
  color: #637381;
  opacity: 0.8;
}

.home-steps-wrap {
  display: flex;
  padding: 0 100px;
  margin: 46px auto 50px;
}

.home-step-block {
  height: 250px;
  background-color: #fff;
  padding: 30px 29px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  border-radius: 10px;
  box-shadow: 12px 10px 20px 0px rgba(156, 181, 225, 0.2);
  &:first-child {
    z-index: 1000;
    flex-basis: 32%;
    .home-step-desc {
      max-width: 284px;
    }
  }
  &:nth-child(2) {
    z-index: 100;
    padding-left: 40px;
    padding-right: 19px;
    flex-basis: 34%;
    .home-step-desc {
      max-height: 260px;
    }
  }
  &:last-child {
    z-index: 10;
    padding-left: 40px;
    padding-right: 20px;
    flex-basis: 33%;
  }
}

.home-step-title {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #172b4d;
}

.home-step-desc {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.39;
  text-align: center;
  color: #808d99;
  opacity: 0.8;
  position: relative;
  z-index: 10;
  margin: auto;
}

.step-triangle {
  width: 0;
  height: 0;
  border-left: 30px solid;
  border-top: 120px solid transparent;
  border-bottom: 120px solid transparent;
  position: absolute;
  top: 5px;
}

.step-end-triangle {
  border-left-color: #f5f8fb;
  right: -29px;
}

.step-start-triangle {
  border-left-color: #f5f8fb;
  left: -2px;
}

.step-rect {
  position: absolute;
  width: 136px;
  height: 60px;
  border-radius: 10px;
}

.step-end-rect {
  right: -55px;
  background-color: #fff;
}

.step-start-rect {
  left: -82px;
  background-color: #f5f8fb;
}

.step-start-rect-top {
  top: 44px;
  transform: rotate(75deg);
}

.step-start-rect-bottom {
  bottom: 42px;
  transform: rotate(105deg);
}

.step-end-rect-top {
  top: 44px;
  transform: rotate(75deg);
}

.step-end-rect-bottom {
  bottom: 42px;
  transform: rotate(105deg);
}

.terms-form-wrap {
  position: relative;
}

.terms-message-tooltip {
  display: none;
  width: 230px;
  height: 105.1px;
  padding: 18px 20px;
  position: absolute;
  top: -122px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #161b2d;
  border-radius: 5px;
  color: #fff;
  text-align: left;
  box-shadow: 0 10px 20px 0 rgba(156, 181, 225, 0.2);
  z-index: 100;
  &.visible {
    display: block;
  }
}

.terms-message-title {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.06;
}

.terms-message-desc {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.42;
}

.form-check-label {
  padding-top: 3px;
}

.form-check-input {
  margin-right: 3px;
  margin-left: 6px;
}

.arrow {
  width: 0;
  height: 0;
  border-top: 5px solid #161b2d;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin: auto;
  position: absolute;
  bottom: -5px;
  right: 0;
  left: 0;
}

.get-started-btn {
  display: inline-block;
  width: 200px;
  height: 60px;
  margin-bottom: 12px;
  border-radius: 5px;
  background-color: #dde2eb;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 66px;
  text-decoration: none;
  cursor:pointer;
  &.valid {
    background-color: #3fd17f;
  }
}

.form-check-label {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  color: #8993a4;
}

.terms-link {
  color: #333841;
  text-decoration: underline;
}

.mac-img {
  width: 900px;
  height: 115px;
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  box-shadow: 0 10px 20px 0 rgba(156, 181, 225, 0.2);
}